<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <h1 translate="forgotpassword.title">Authentication</h1>
 			
 			<div class="alert alert-danger" ng-show="recoveryError">
                {{recoveryError}}
            </div>
            
            <div ng-show="recoverySuccess">
				<div class="alert alert-success">
				    {{recoverySuccess}}
				</div>
				
	        	<a href="" ui-sref="login">Se connecter</a>
			</div>
            
            <form class="form" name="forgotPasswordForm" role="form" ng-show="!recoverySuccess">
                <div class="form-group">
                    <input type="text" class="form-control" id="recoveryEmail" name="recoveryEmail"
                    placeholder="{{'forgotpassword.form.email.placeholder' | translate}}" ng-model="recoveryEmail" ng-required required>
                
                </div>
				<div class="btn-group text-center">
					<button  ng-click="sendPassword()" class="btn btn-primary"
						translate="forgotpassword.form.button">Send password</button>
				</div>
			</form>
        </div>
    </div>
    <div class="row" ng-show="!recoverySuccess">
        <div class="col-md-4 col-md-offset-4 text-center">
        	<a href="" ui-sref="login">Mot de passe retrouvé ?</a>
        </div>
    </div>