
@import '~@angular/material/theming';

@include mat-core();


$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);    
$app-theme: mat-light-theme($app-primary, $app-accent);


table{
	width: 100%;
	height: 150px;
	border-spacing: 0;
	border-collapse: separate;
	table-layout: fixed;
	margin-bottom: 50px;

	thead{
		tr{
			th{
				background: mat-color($mat-indigo, A100);
				color: #FFF;
				padding: 0.5em;
				overflow: hidden;

				&:first-child{
					border-radius:3px 0 0 0;
				} 
				&:last-child{
					border-radius:0 3px  0 0;
				}
				

				i{
					vertical-align: middle;
					font-size: 2em;
				}
			}
		}
	}
	tbody{
		tr{
			td{
				border-bottom:1px solid mat-color($mat-indigo, A400);
				vertical-align: top;
				border-left: 1px solid mat-color($mat-indigo, A400);
				position: relative;
				height: 80px;

				&:last-child{
					border-right:1px solid mat-color($mat-indigo, A400);
				}
			}
		}
	}

  		@media(max-width:60em){

    			thead{
				      tr{
					        th{
						          .long{
							            display: none;
						          }

          						.short{
							            display: block;
						          }

        					}
				      }
			    }

    			tbody{
				      tr{
					        td{
						          &.hour{
							            span{
								              transform:rotate(270deg);
              -webkit-transform:rotate(270deg);
              -moz-transform:rotate(270deg);
							            }
						          }
        		}
				      }
			    }
		  }

	  	@media(max-width:27em){
    			thead{
				      tr{
					        th{
						          font-size: 65%;
						          .day{
							            display: block;
							            font-size: 1.2em;
							            border-radius: 50%;
							            			width: 20px;
							            height: 20px;
							            margin: 0 auto 5px;
							            padding: 5px;

            							&.active{
							              	background: mat-color($mat-indigo, A400);
								              color:  mat-color($mat-indigo);
							            }
						          }
					        }
				      }
			    }
			    tbody{
				      tr{
					        td{
						          &.hour{
							            font-size: 1.7em;
							            span{
							              transform:translateY(16px)rotate(270deg);
              -webkit-transform:translateY(16px)rotate(270deg);
              -moz-transform:translateY(16px)rotate(270deg);
							            }
						          }
        	}
				      }
			    }
		  }
	}