<table>
  <thead>
    <tr>
      <th *ngFor="let day of getDaysOfRowIdx(0); let i=index">
        <calendar-cell
          [showDayName]=true
          [showBigCenterDayNumber]=true
          [showMonth]=false
          [rowIdx]=0
          [colIdx]=i
          [day]=day>
        </calendar-cell>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td *ngFor="let day of getDaysOfRowIdx(row); let i=index">

        <calendar-cell
          [rowIdx]=row
          [colIdx]=i
          [day]=day
          (onAddEvent)=addEvent($event)>

          <events-list [day]=day (onEditEvent)=editEvent($event)></events-list>

        </calendar-cell>
      </td>
    </tr>
  </tbody>
</table>