.mat-expansion-panel-header-title, 
.mat-expansion-panel-header-description {
    flex-basis: 0;
}

.mat-expansion-panel-header-description {
    justify-content: space-between;
}

.mat-expansion-panel-header-title{
    min-width: 130px;
}
.mat-expansion-panel-header-description{
    min-width: 100px;
}
