
.wod-infos{
    display: flex;
    flex-direction: row;
    align-items: stretch;

    mat-card{
        flex-grow: 1;
    }
}

mat-list-item:hover{
    background: grey;
}

@media screen and (max-width: 767px) {

    .wod-infos{
        flex-direction: column;
    }
}
