<div class="wod-container" *ngIf="wod">

  <div class="wod-infos">
    <mat-card>
      <mat-card-content>
      
        <div class="wod-description">
        
          <h2><span *ngIf="wod.category != 'CUSTOM'">{{'wod.category.' + wod.category | translate}}: </span>{{wod.name}}</h2>
          <h3>
            {{'wod.score.' + wod.score | translate}}
          </h3>
          <p  style="white-space: pre;">{{wod.description}}</p>
        
        </div>

        <div class="wod-publications">
          <h2>Publications du wod</h2>
          <mat-nav-list dense *ngIf="wod.publications.length>0; else noPublicationYet">
              <mat-list-item *ngFor="let pub of wod.publications">
                
                <mat-icon matListIcon>{{pub.startAt === pub.endAt ? 'calendar_today' : 'date_range'}}</mat-icon>
                <span > {{pub.startAt | date:'dd/MM/yyyy'}} </span>
                <span *ngIf="pub.startAt != pub.endAt">&nbsp;au {{pub.endAt | date:'dd/MM/yyyy'}}</span>
                
              </mat-list-item>
          </mat-nav-list>   
          
          <ng-template #noPublicationYet>
            <div>
              Ce wod n'a encore jamais été planifié.
            </div>
          </ng-template>         
        </div>
     
      
      </mat-card-content>
      <mat-card-actions>
        <a [routerLink]="['..','edit']" mat-button color="primary" disabled=canEdit()>
          <mat-icon attr.aria-label="{{'wod.edit.button.label' | translate}}">edit</mat-icon>
        </a>
        <a [routerLink]="['..','delete']" mat-button color="primary" disabled=canDelete()>
          <mat-icon attr.aria-label="{{'wod.delete.button.label' | translate}}">delete</mat-icon>
        </a>
      </mat-card-actions>
    </mat-card>  
    
    <app-ranking [wod]=wod></app-ranking>
  </div>
</div>
