<div class="wod-container">

    <form novalidate (ngSubmit)="onSubmit()">
  
      <div class="form-container">      
        <mat-form-field>
          <input matInput placeholder="{{'wod.name.placeholder' | translate}}"  [(ngModel)]="wod.name" name="wod.name">
        </mat-form-field>

        <div>
          <mat-radio-group [(ngModel)]="wod.score" name="wod.score">
              <mat-radio-button *ngFor="let score of availableWodScore" value="score">
                {{'wod.score.' + score | translate}}
              </mat-radio-button>
          </mat-radio-group>

          <mat-radio-group [(ngModel)]="wod.category" name="wod.category">
              <mat-radio-button *ngFor="let cat of availableWodCategories" value="cat">
                {{'wod.category.' + cat | translate}}
              </mat-radio-button>
          </mat-radio-group>
        </div>
        
          <mat-form-field>
              <textarea matInput placeholder="{{'wod.description.placeholder' | translate}}"  rows="3"
              textComplete
              [optionsFilter]="completeFilter.bind(this)"
              [optionDisplay]="displayOptionComplete"
              (optionSelected)="onSelectOption($event)"></textarea>
          </mat-form-field>

          <mat-chip-list>
            <mat-chip *ngFor="let m of wod.movements" selected="true">
              {{m.fullname}}
            </mat-chip>
            <mat-chip *ngFor="let e of wod.equipments" selected="true">
              {{e.fullname}}
            </mat-chip>
          </mat-chip-list>

  
      </div>
  
      <div class="form-footer">
        <submit-button></submit-button>
  
        <mat-progress-bar mode="indeterminate" *ngIf="status=='wait'" ></mat-progress-bar>
      </div>
  
    </form>
  
  </div>