
<form name="form" role="form" novalidate ng-submit="save(true)" disabled-form="!editMode">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-if="!editMode"
			aria-hidden="true" ng-click="clear()">&times;</button>
		
		<h4 class="modal-title modal-title-center">
			<span>N°{{member.number}} - </span> 
			<span style="text-transform: capitalize;"><span ng-if="member.title" translate="crossfitApp.member.title.{{member.title}}"></span> {{member.firstName}} {{member.lastName}}</span>
		</h4>
		
		<nav class="navbar navbar-inverse navbar-cf-nancy ng-scope" role="navigation">
			<ul class="nav navbar-nav navbar-right">
				
				<li ng-show="view == 'abonnements'"">
					<a ng-click="addSubscription()">
						<span class="glyphicon glyphicon-plus" title="Ajouter un abonnement"></span>
					</a>
				</li>
				<li ng-show="view == 'mandats'"">
					<a ng-click="addMandat()">
						<span class="glyphicon glyphicon-plus" title="Ajouter un mandat"></span>
					</a>
				</li>
				<li ng-if="member.id && !editMode">
					<a ng-click="refresh()">
						<span class="glyphicon {{isLoading() ? 'wait-spinner':'glyphicon-refresh'}}" 
							title="{{isLoading() ? 'Chargement en cours, veuillez patienter...':'Rafrachir les informations'}}"></span>
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-left">
				<li ng-class="{active:view=='infoperso'}">
					<a ui-sref=".({view:'infoperso'})"> 
						<span>{{'crossfitApp.member.infoperso'|translate}}</span>
					</a>
				</li>
				<li ng-class="{active:view=='abonnements'}">
					<a ui-sref=".({view:'abonnements'})">
						<span>{{'crossfitApp.member.abonnements'|translate}}</span>
					</a>
				</li>
				<li ng-class="{active:view=='mandats'}">
					<a ui-sref=".({view:'mandats'})">
						<span>{{'crossfitApp.member.mandats'|translate}}</span>
					</a>
				</li>
				<li ng-class="{active:view=='reservations'}">
					<a ui-sref=".({view:'reservations'})"> 
						<span>{{'crossfitApp.member.reservations'|translate}}</span>
					</a>
				</li>
				<li ng-class="{active:view=='authority'}">
					<a ui-sref=".({view:'authority'})"> 
						<span>{{'crossfitApp.member.authority'|translate}}</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	
	<div class="modal-body">

		<jh-alert-error></jh-alert-error>

		<div class="row" ng-show="view == 'infoperso'">

		  <div class="col-md-12 col-lg-8">
	    	<div class="row">
				<div class="col-xs-12 col-sm-6 form-group">
					<input
						type="text" class="form-control" id="id" name="id"
						ng-model="member.id" readonly>
				</div>

				<div class="col-xs-12 col-sm-6 form-group">
					<input type="text" class="form-control" id="number" name="number"
						placeholder="{{'crossfitApp.member.number.placeholder' | translate}}"
						ng-model="member.number"  ng-minlength=2 ng-maxlength=36 maxlength="36">
				</div>
			</div>
		    <div class="row">
		  		<div class="col-xs-12">

			    	<div class="row">

				        <div class="form-group col-xs-12 col-sm-2">
				            <select class="form-control" name="title" ng-model="member.title"
							id="field_title" required>
								<option value="MS" translate="crossfitApp.member.title.MS">Mme</option>
								<option value="MR" translate="crossfitApp.member.title.MR">Mr</option>
							</select>
				        </div>
				        <div class="form-group col-xs-6 col-sm-5">
							<input type="text" class="form-control" id="firstName" name="firstName"
								placeholder="{{'crossfitApp.member.firstname.placeholder' | translate}}"
								ng-model="member.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
				        </div>
				        <div class="form-group col-xs-6 col-sm-5">
					        <input type="text" class="form-control" id="lastName"
								name="lastName"
								placeholder="{{'crossfitApp.member.lastname.placeholder' | translate}}"
								ng-model="member.lastName" ng-minlength=1 ng-maxlength=50
								required maxlength="50">
				        </div>
			        </div>
			    	<div class="row">
				        <div class="col-xs-12">
				    	  	<div ng-show="form.firstName.$invalid">
								<p class="help-block" ng-show="form.firstName.$error.required"
									translate="crossfitApp.member.messages.validate.firstname.required">Your first name is required.</p>
								<p class="help-block" ng-show="form.firstName.$error.minlength"
									translate="crossfitApp.member.messages.validate.firstname.minlength"> Your first name is required to be at least 1 character.</p>
								<p class="help-block" ng-show="form.firstName.$error.maxlength"
									translate="crossfitApp.member.messages.validate.firstname.maxlength"> Your first name cannot be longer than 50 characters.</p>
							</div>


							<div ng-show="form.lastName.$invalid">
								<p class="help-block" ng-show="form.lastName.$error.required"
									translate="crossfitApp.member.messages.validate.lastname.required">Your
									last name is required.</p>
								<p class="help-block" ng-show="form.lastName.$error.minlength"
									translate="crossfitApp.member.messages.validate.lastname.minlength">Your
									last name is required to be at least 1 character.</p>
								<p class="help-block" ng-show="form.lastName.$error.maxlength"
									translate="crossfitApp.member.messages.validate.lastname.maxlength">Your
									last name cannot be longer than 50 characters.</p>
							</div>
						</div>
					</div>
				</div>
		    </div>

		    <div class="row form-group">
		        <div class="col-xs-6">
					<input type="text" class="form-control" id="nickName" name="nickName"
						placeholder="{{'crossfitApp.member.nickName.placeholder' | translate}}"
						ng-model="member.nickName" ng-minlength=1 ng-maxlength=50 maxlength="50">
		        </div>
		        <div class="col-xs-6">
			        <input type="text" class="form-control" id="cardUuid"
						name="cardUuid"
						placeholder="{{'crossfitApp.member.cardUuid.placeholder' | translate}}"
						ng-model="member.cardUuid" ng-minlength=1 ng-maxlength=255 maxlength="255">
		        </div>
			</div>

		    <div class="row form-group">
		    	<div class="col-xs-12">
		    		<input type="text" class="form-control" id="address" name="address"
						placeholder="{{'crossfitApp.member.address.placeholder' | translate}}"
						ng-model="member.address" ng-maxlength=255 maxlength="255">
		    	</div>
	    	</div>
		    <div class="row">
		    	<div class="form-group col-xs-12 col-sm-4">
		    		<input type="text" class="form-control" id="zipCode" name="zipCode"
						placeholder="{{'crossfitApp.member.zipCode.placeholder' | translate}}"
						ng-model="member.zipCode" ng-maxlength=20 maxlength="20">
		    	</div>
		    	<div class="form-group col-xs-12 col-sm-5">
		    		<input type="text" class="form-control" id="city" name="city"
						placeholder="{{'crossfitApp.member.city.placeholder' | translate}}"
						ng-model="member.city" ng-maxlength=100 maxlength="100">
		    	</div>

		        <div class="form-group col-xs-12 col-sm-3">
					<select id="langKey" name="langKey" class="form-control"
						ng-model="member.langKey" ng-controller="LanguageController"
						ng-options="code as (code | findLanguageFromKey) for code in languages"></select>
				</div>
	    	</div>

		    <div class="row">
		  		<div class="col-xs-12">
			    	<div class="row">
				    	<div class="form-group col-xs-12 col-sm-8">
				    		<input type="email" class="form-control" id="email" name="email"
							placeholder="{{'crossfitApp.member.email.placeholder' | translate}}"
							ng-model="member.email" ng-minlength=5 ng-maxlength=100
							required maxlength="100">
					  	</div>
				    	<div class="form-group col-xs-12 col-sm-4">
				    		 <input type="text" class="form-control" name="telephonNumber" id="field_telephonNumber"
				    		 placeholder="{{'crossfitApp.member.telephonNumber.placeholder' | translate}}"
								ng-model="member.telephonNumber">
				    	</div>
				    </div>
			    	<div class="row">
				    	<div class="col-xs-12">
				    		<div ng-show="form.email.$invalid">
								<p class="help-block" ng-show="form.email.$error.required"
									translate="crossfitApp.member.messages.validate.email.required">Your e-mail
									is required.</p>
								<p class="help-block" ng-show="form.email.$error.email"
									translate="crossfitApp.member.messages.validate.email.invalid">Your e-mail
									is invalid.</p>
								<p class="help-block" ng-show="form.email.$error.minlength"
									translate="crossfitApp.member.messages.validate.email.minlength">Your
									e-mail is required to be at least 5 characters.</p>
								<p class="help-block" ng-show="form.email.$error.maxlength"
									translate="crossfitApp.member.messages.validate.email.maxlength">Your
									e-mail cannot be longer than 100 characters.</p>
							</div>
						</div>
					</div>
				</div>
	    	</div>


		  </div>
		  <div class="col-md-12 col-lg-4">
	    	<div class="row form-group">
				<div class="col-xs-12">
					<label class="checkbox-inline">
					  <input type="checkbox" ng-model="member.givenMedicalCertificate">
					  {{'crossfitApp.member.givenMedicalCertificate.'+(member.givenMedicalCertificate ? 'selected' : 'notselected')+'.label' | translate}}
					</label>
					<datetimepicker ng-show="member.givenMedicalCertificate" name="medicalCertificateDate" how-weeks="false" show-meridian="false"
       						date-format="dd/MM/yyyy" hidden-time="true" ng-model="member.medicalCertificateDate"></datetimepicker>
				</div>
			</div>
		    <div class="row form-group">
		  		<div class="col-xs-12">
			  		<label>{{'crossfitApp.member.comments' | translate}}</label>
					<textarea class="form-control" id="comments" name="comments" style="height: 200px"
						placeholder="{{'crossfitApp.member.comments.placeholder' | translate}}" ng-maxlength=255
						ng-model="member.comments"></textarea>
		  		</div>
	  		</div>
		  </div>
		</div>


		<div class="row member-subscriptions" ng-show="view == 'abonnements'">
  			<div class="col-xs-12">
		    	<div class="panel panel-default form-group"
		    			ng-class="{
		    			 'panel-primary open-sub':now < subscription.subscriptionEndDate || !subscription.subscriptionEndDate,
		    			 'open-sub': isOpen(openedSubscription, subscription),
		    			 'ng-invalid-required': isSubscriptionInvalid(subscription) }"
			    		ng-repeat="subscription in subscriptions = (member.subscriptions | orderBy:['!!id', '-subscriptionEndDate']) ">
					<div class="panel-heading" >

				  		<button type="button" class="btn btn-xs btn-default toggle-button" ng-click="toggle($event, openedSubscription, subscription)"
				  			ng-disabled="now < subscription.subscriptionEndDate || !subscription.subscriptionEndDate">
							<span class="glyphicon glyphicon-{{isOpen(openedSubscription, subscription) ? 'collapse-down' : 'expand'}}"></span>
				  		</button>

						<span ng-if="subscription.membership" class="hidden-xs">
							{{subscription.subscriptionStartDate | date: 'dd/MM/yyyy'}} > {{subscription.subscriptionEndDate | date: 'dd/MM/yyyy'}} |
						</span>
						<span ng-if="subscription.membership">
							{{subscription.membership.name}}
						</span>
						<span ng-if="!subscription.membership">Sélectionner un abonnement</span>



						<div class="pull-right">
							<span ng-if="subscription.bookingCount>0"
								style="white-space: nowrap;">{{subscription.bookingCount}}
								résa.</span>
							<button ng-if="subscription.bookingCount==0 && editMode" type="button"
								class="btn btn-xs btn-danger"
								ng-click="deleteSubscription(subscription)"
								ng-disabled="subscription.bookingCount > 0 || subscription.signatureDate != null">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>

					</div>

					<div class="panel-body">

						<div class="row">
							<div class="col-xs-12 col-sm-5 col-lg-3 form-group">
			  					<label>Type d'abonnement </label>
								<select ng-disabled="subscription.bookingCount > 0 || cannotEditSubscription(subscription)"
									class="form-control" id="field_membership" name="membership"
									ng-model="subscription.membership" required
									ng-click="onSelectMembership(subscription)"
									ng-options='membership as (membership.name + " - " + membership.priceTaxIncl) for membership in memberships track by membership.id'>
								</select>
							</div>

							<div class="col-xs-12 col-sm-7 col-lg-3 form-group">
			  					<label>Début / Fin </label>
								<div class="form-inline">

									<datetimepicker name="subscriptionStartDate" how-weeks="false"
										ng-class="caculateCssDate(subscription, subscriptions[$index-1], subscriptions[$index+1], 'desc' )"
										show-meridian="false" date-format="dd/MM/yyyy"
										ng-hide="cannotEditSubscription(subscription)"
										hidden-time="true" ng-model="subscription.subscriptionStartDate"></datetimepicker>
									
									<div class="datetimepicker-wrapper" ng-if="cannotEditSubscription(subscription)">
										<input type="text" class="form-control" ng-disabled="true"
												value="{{subscription.subscriptionStartDate | date: 'dd/MM/yyyy'}}">
									</div>
									
									<datetimepicker name="subscriptionEndDate" how-weeks="false"
										show-meridian="false" date-format="dd/MM/yyyy" ng-hide="!editMode"
										hidden-time="true" ng-model="subscription.subscriptionEndDate"></datetimepicker>
																	
									<div class="datetimepicker-wrapper" ng-if="!editMode">
										<input type="text" class="form-control" ng-disabled="true"
												value="{{subscription.subscriptionEndDate | date: 'dd/MM/yyyy'}}">
									</div>
								
								</div>

							</div>

							<div class="col-xs-12 col-sm-6 col-lg-2 form-group">
								<label for="priceTaxIncl">Tarif TTC</label>
								<input type="number" class="form-control" id="priceTaxIncl"
									   name="priceTaxIncl"
									   ng-disabled="cannotEditSubscription(subscription)"
									   ng-model="subscription.priceTaxIncl" ng-maxlength=12
									   required>
							</div>

							<div class="col-xs-12 col-sm-6 col-lg-2 form-group">
								<label>Mode de paiement</label>
								<select class="form-control" id="sel1" ng-click="paymentMethodChanged(subscription)"
										ng-disabled="cannotEditSubscription(subscription)"
										ng-model="subscription.paymentMethod" required>
									<option ng-repeat="p in paymentMethods" value="{{p}}">
										{{'crossfitApp.bill.paymentMethod.enum.' + p | translate }}
									</option>
								</select>
							</div>

						</div>

						<div class="panel panel-default" ng-if="subscription.paymentMethod=='DIRECT_DEBIT' && subscription.directDebit">
							<div class="panel-heading">
								Info. Prélèvement
							</div>
							<div class="panel-body">

								<div class="row">

									<div class="col-xs-12 col-sm-4 col-md-3 form-group">
					  					<label>A partir du </label>

										<datetimepicker class="input-group" name="subscriptionDirectDebitAfterDate"
											how-weeks="false" show-meridian="false" ng-required="mustFillDirectDebitInfo(subscription)"
											date-format="dd/MM/yyyy" hidden-time="true"
											ng-hide="cannotEditSubscription(subscription)"
											ng-model="subscription.directDebit.afterDate"></datetimepicker>
											
										<input type="text" class="form-control" ng-disabled="true" ng-if="cannotEditSubscription(subscription)"
												value="{{subscription.directDebit.afterDate | date: 'dd/MM/yyyy'}}">
									</div>

									<div class="col-xs-6 col-sm-5 col-md-3 form-group">
					  					<label>Jour prélèvement</label>
				  					    <div class="input-group" style="max-width: 230px;">
		  									<span class="input-group-addon">Le</span>

											<input type="number" class="form-control" style="text-align: right"
												ng-disabled="cannotEditSubscription(subscription)"
												ng-model="subscription.directDebit.atDayOfMonth" ng-minlength=1
												ng-required="mustFillDirectDebitInfo(subscription)"
												ng-maxlength=2 maxlength="2">

		  									<span class="input-group-addon hidden-xs hidden-md">de chaque mois</span>
										</div>
									</div>
									
									<div class="col-xs-6 col-sm-3 col-md-3 form-group">
					  					<label>Montant prélevé </label>
				  					    <div class="input-group">
											<input type="number" style="text-align: right"
												class="form-control "
												ng-model="subscription.directDebit.amount"
												ng-required="mustFillDirectDebitInfo(subscription)"
												ng-disabled="cannotEditSubscription(subscription)"
												ng-minlength=1 ng-maxlength=12 maxlength="12" />
		  									<span class="input-group-addon">€</span>
										</div>
									</div>
									
									<div class="col-xs-12 col-sm-12 col-md-3 form-group">
					  					<label>Mandat </label>
										<select ng-required="mustFillDirectDebitInfo(subscription) && box.mandateMandatory"
											class="form-control" name="subscription.directDebit.mandate"
											ng-model="subscription.directDebit.mandate"
											ng-disabled="cannotEditSubscription(subscription)"
											ng-options='mandate as ( mandate.rum + (mandate.status === "ACTIVE" ? "" : " ( " + ( "crossfitApp.member.mandate.status."+mandate.status | translate) + " )" )) for mandate in (member.mandates | filter:{} ) track by mandate.id '>
											<option value="">Choississez un mandat</option>
										</select>
									</div>
								</div>
								<div class="row">								

									<div class="col-xs-12 col-sm-6 col-md-3 form-group">
					  					<label>Premier paiement de </label>
				  					    <div class="input-group">
											<input type="number" style="text-align: right"
												class="form-control "
												ng-model="subscription.directDebit.firstPaymentTaxIncl"
												ng-disabled="cannotEditSubscription(subscription)"
												ng-required="mustFillDirectDebitInfo(subscription)"
												ng-minlength=1 ng-maxlength=12 maxlength="12" />
		  									<span class="input-group-addon">€</span>
										</div>
									</div>

									<div class="col-xs-12 col-sm-6 col-md-3 form-group">
					  					<label>Réglé en</label>
										<select class="form-control" id="sel2"
											ng-required="mustFillDirectDebitInfo(subscription)"
											ng-disabled="cannotEditSubscription(subscription)"
											ng-model="subscription.directDebit.firstPaymentMethod">
											<option value=""></option>
											<option ng-repeat="p in paymentMethods" value="{{p}}">{{'crossfitApp.bill.paymentMethod.enum.'
												+ p | translate }}</option>
										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row" ng-if="subscription.signatureDate == null">

							<div class="col-xs-12 col-sm-6 col-lg-2 form-group">
								<label>Modele contrat</label>
								<select class="form-control"
										ng-disabled="cannotEditSubscription(subscription)"
										ng-model="subscription.contractModel"
										ng-options='contractModel as (contractModel.versionData) for contractModel in contractModels track by contractModel.id'>
										<option value="">Choississez un modèle</option>
								</select>
							</div>


							<div class="col-xs-12 col-sm-6 col-lg-4 form-group hidden-xs" ng-if="subscription.contractModel.id != null && !editMode">
		  						<label>&nbsp</label>
		  						<a ui-sref="sign-subscription({memberId: member.id, subscriptionId: subscription.id})" ui-sref-opts="{relative: false}" target="_blank">
									<button type="button" class="btn btn-primary form-control">
										<span>Générer contrat</span>
									</button>
								</a>
							</div>
						</div>

						<div class="row" ng-if="subscription.signatureDate != null">
							<div class="col-xs-12">
								<label>Contrat {{subscription.contractModel.versionData}} signé le {{subscription.signatureDate | date:'dd/MM/yyyy \'à\' HH:mm'}}</label>
									
								<button type="button"  title="Renvoyer le contrat par mail"
									class="btn btn-sm btn-default"
									ng-click="sendSubscriptionPdf(subscription)">
									<span class="glyphicon glyphicon-envelope"></span>
								</button>
									
								<button type="button"  title="Télécharger le contrat"
										class="btn btn-sm btn-default hidden-xs"
										ng-click="downloadSubscriptionPdf(subscription)">
									<span class="glyphicon glyphicon-cloud-download"></span>
								</button>
							</div>
						</div>
					</div>
		    	</div>

		        <div class="row form-group" ng-show="form.subscriptionStartDate.$invalid || form.subscriptionEndDate.$invalid || form.membership.$invalid">
			        <div class="col-xs-12">
						<p class="help-block" ng-show="form.subscriptionStartDate.$error.required"
							translate="crossfitApp.member.messages.validate.subscriptionStartDate.required">subscriptionStartDate is required.</p>
						<p class="help-block" ng-show="form.subscriptionEndDate.$error.required"
								translate="crossfitApp.member.messages.validate.subscriptionEndDate.required">subscriptionEndDate is required.</p>
						<p class="help-block" ng-show="form.membership.$error.required"
							translate="crossfitApp.member.messages.validate.membership.required">field_membership is required.</p>
					</div>
				</div>



			</div>
		</div>


		<div class="row member-mandats" ng-show="view == 'mandats'">
		
		
			<div class="col-xs-12">
				<div class="panel panel-default form-group"
					 ng-class="{'ng-invalid-required': isMandatInvalid(mandat) }"
					 ng-repeat="mandate in mandates = (member.mandates | orderBy:['!!id', '-createdDate']) ">
					<div class="panel-heading" >
						<span ng-if="mandate.rum">Mandat: {{mandate.rum}} - </span>
						<span translate="crossfitApp.member.mandate.status.{{mandate.status}}"></span>
						<span ng-if="mandate.createdDate"> | Créé le {{mandate.createdDate | date:"dd/MM/yyyy 'à' HH:mm"}}</span>


						<div class="pull-right" ng-if="editMode">
							<button type="button"
								class="btn btn-xs btn-danger"
								ng-click="deleteMandate(mandate)"
								ng-disabled="mandate.status != 'PENDING_CUSTOMER_APPROVAL' && mandate.id != null">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>

					</div>

					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12 col-md-8">		
								<div class="row">
		
									<div class="col-xs-12 col-sm-6 form-group">
		
										<label>RUM</label>
										<div>
											<input type="text" class="form-control" id="rum" name="rum"
												   placeholder="{{'crossfitApp.member.rum.placeholder' | translate}}"
												   ng-model="mandate.rum"
												   ng-required="true" ng-disabled="mandate.id"
												   ng-maxlength=35 maxlength="35" />
										</div>
									</div>
		
									<div class="col-xs-12 col-sm-6 form-group">
		
										<label>ICS</label>
										<div>
											<input type="text"
												   class="form-control" id="ics" name="ics"
												   placeholder="{{'crossfitApp.member.ics.placeholder' | translate}}"
												   ng-model="mandate.ics"
												   ng-required="true" ng-disabled="mandate.id"
												   ng-maxlength=64 maxlength="64" />
										</div>
									</div>
		
								</div>
		
								<div class="row">
		
									<div class="col-xs-12 col-sm-8 form-group">
		
										<label>IBAN</label>
										<div>
											<input type="text" class="form-control" id="iban" name="iban"
												   placeholder="{{'crossfitApp.member.iban.placeholder' | translate}}"
												   ng-model="mandate.iban"
												   ng-required="true" ng-disabled="mandate.id"
												   ng-maxlength=34 maxlength="34" />
										</div>
									</div>
		
									<div class="col-xs-12 col-sm-4 form-group">
		
										<label>BIC</label>
										<div>
											<input type="text"
												   class="form-control" id="bic" name="bic"
												   placeholder="{{'crossfitApp.member.bic.placeholder' | translate}}"
												   ng-model="mandate.bic"
												   ng-required="true" ng-disabled="mandate.id"
												   ng-maxlength=8 maxlength="8" />
										</div>
									</div>
		
								</div>
							</div>
							<div class="col-sm-12 col-md-4">		
								<div class="row">
									<div class="col-xs-12 form-group">
										<label>Statut : {{'crossfitApp.member.mandate.status.'+ mandate.status | translate }}</label>
									
									
				  						<a ng-if="mandate.status === 'PENDING_CUSTOMER_APPROVAL' && !editMode" ui-sref="sign-mandate({memberId: member.id, mandateId: mandate.id})" ui-sref-opts="{relative: false}" target="_blank">
											<button type="button" class="btn btn-primary form-control">
												<span>Signer le mandat</span>
											</button>
										</a>
									
									</div>
									
									
								</div>
							</div>
						</div>

						<div class="row" ng-if="mandate.signatureDate != null">
							<div class="col-xs-12">
								<label>Mandat signé le {{mandate.signatureDate | date:'dd/MM/yyyy \'à\' HH:mm'}}</label>
																
								<button type="button"  title="Renvoyer le mandat par mail"
									class="btn btn-sm btn-default"
									ng-click="sendMandatePdf(mandate)">
									<span class="glyphicon glyphicon-envelope"></span>
								</button>
								
								<button type="button"  title="Télécharger le mandat"
										class="btn btn-sm btn-default hidden-xs"
										ng-click="downloadMandatePdf(mandate)">
									<span class="glyphicon glyphicon-cloud-download"></span>
								</button>
							</div>
						</div>
					</div>
				</div>

				<div ng-if="member.mandates.length == 0">
					Aucun mandats
				</div>
			</div>
		</div>

		<div class="row form-group" ng-show="view == 'reservations'">
  			<div class="col-xs-12"  style="max-height: 400px; overflow-y: scroll;">

				<ul class="list-group" ng-if="memberBookings.length">
					<li class="list-group-item" ng-repeat="booking in memberBookings">

						<span class="glyphicon glyphicon-thumbs-{{booking.checkInDate ? 'up' : 'down'}} {{booking.cardUuid ? '' : 'no-card'}}"></span>

				       	{{booking.startAt | date:"EEE dd MMM yyyy 'à' HH:mm"}} - {{booking.title}}

						<button ng-if="!editMode" type="button" ng-click="quickDeleteBooking(booking)" class="pull-right btn btn-xs btn-danger">
	                    	<span class="glyphicon glyphicon-remove"></span></button>
					</li>
				</ul>

				<div ng-if="memberBookings && memberBookings.length == 0">
					Aucune réservation
				</div>
			</div>
		</div>



		<div class="row form-group" ng-show="view == 'authority' && member">
  			<div class="col-xs-12">
				<label ng-repeat="role in roles" class="checkbox-inline" style="margin-left: 10px">
				  <input type="checkbox" value="{{role}}" ng-disabled="!editMode"
					    ng-checked="member.roles.indexOf(role) > -1"
  						ng-click="toggleSelectedRole(role)"> {{'crossfitApp.member.role.' + role | translate}}
				</label>
			</div>
		</div>


		<jh-alert-error></jh-alert-error>
    </div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
				translate="entity.action.cancel">Cancel</span>
		</button>
		<button type="button" ng-if="editMode"
			ng-disabled="form.$invalid"
			class="btn btn-primary hidden-xs"
			ng-click="save(false)">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				translate="entity.action.save">Save</span>
		</button>
		<button type="submit" ng-if="editMode"
			ng-disabled="form.$invalid"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				translate="entity.action.saveAndQuit">Save & Quit</span>
		</button>
		
		<button type="button"
			ng-if="!editMode"
			class="btn btn-primary"
			ng-click="changeToEditMode()">
			<span class="glyphicon glyphicon-pencil"></span>&nbsp;<span
				translate="entity.action.edit">Modifier</span>
		</button>
	</div>
</form>
