<div ng-cloak>
	
	<form ng-submit="search()">

		<div class="row">
			<div class="col-lg-12">
			   	<jh-alert></jh-alert>
		    </div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-lg-9">
				<div class="form-group">
					<input type="search" ng-model="searchLike" class="form-control" placeholder="Rechercher" ng-keypress="keyPressOnSearchField($event)" />
				</div>	
			</div>
			
			<div class="col-xs-2 col-lg-3">
		        <div class="form-group" style="margin-left: 5px;">
				    
					<button type="button" class="btn btn-primary" title="{{'entity.action.search' | translate}}" ng-click="search()" >
						<span class="glyphicon glyphicon-search"></span>
					</button>
				    <button type="button" class="btn btn-primary hidden-xs hidden-sm hidden-md" title="{{'entity.action.export' | translate}}" ng-click="export()">
						<span class="glyphicon glyphicon-cloud-download"></span>
				    </button>
				    <div class="btn btn-primary btn-upload hidden-xs hidden-sm hidden-md" title="{{'entity.action.import' | translate}}"  has-any-role="ROLE_ADMIN"
				    	upload-button url="api/members/import" accept="text/csv" on-success="onSuccessImport(response)" on-error="onErrorImport(response)">
						<span class="glyphicon glyphicon-cloud-upload"></span>
					</div>
				    <div class="btn btn-primary btn-upload hidden-xs hidden-sm hidden-md" title="{{'entity.action.import' | translate}}" has-any-role="ROLE_ADMIN"
				    	upload-button url="api/members/import-sepa" accept="text/csv" on-success="onSuccessImport(response)" on-error="onErrorImport(response)">
						<span class="glyphicon glyphicon-cloud-upload"></span>
						<span>Mandats</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row hidden-xs hidden-sm">
			<div class="col-xs-12">
				<div class="form-group pull-left">
				
					<div class="checkbox-list">
						<span class="checkbox-title">Statut</span>
						<div class="checkbox-list-content">
							<label> <input
								type="checkbox" id="include_actif" ng-model="include_actif"> Actif
							</label> 
							<label> <input
								type="checkbox" id="include_not_ennabled" ng-model="include_not_ennabled"> Jamais con.
							</label> 
							<label> <input
								type="checkbox" id="include_bloque" ng-model="include_bloque"> Bloqué
							</label>
						</div>
					</div>
				</div>
			
				<div class="form-group pull-left">
					<div class="checkbox-list">
						<span class="checkbox-title">
							<input type="checkbox" 
								ng-indeterminate="{{isIndeterminate(selectedMemberships, membershipsIds)}}"
								ng-checked="isChecked(selectedMemberships)"
		  						ng-click="toggleSelectAll(selectedMemberships, membershipsIds)">
	  						
	  						Abonnements
  						</span>
						<div class="checkbox-list-content">
							<label ng-repeat="membership in memberships" title="{{membership.name}}">
							  <input
							    type="checkbox"
							    value="{{membership.id}}"
							    ng-checked="selectedMemberships.indexOf(membership.id) > -1"
		  							ng-click="toggleSelectedMembership(membership.id)"
							  > {{membership.name | limitTo:20}}
							</label>
						</div>
					</div>
				</div>

				<div class="form-group pull-left">
					<div class="checkbox-list">
						<span class="checkbox-title">
						
							<input type="checkbox" 
								ng-indeterminate="{{isIndeterminate(selectedRoles, roles)}}"
								ng-checked="isChecked(selectedRoles)"
		  						ng-click="toggleSelectAll(selectedRoles, roles)">
		  						
							Droits
						</span>
						<div class="checkbox-list-content">
							<label ng-repeat="role in roles"  title="{{'crossfitApp.member.role.' + role | translate}}">
							  <input type="checkbox" value="{{role}}"
								    ng-checked="selectedRoles.indexOf(role) > -1"
			  						ng-click="toggleSelectedRole(role)"> {{'crossfitApp.member.role.' + role | translate | limitTo:6}}.
							</label>
						</div>

					</div>
				</div>	
				
				<div class="form-group pull-left">
					<div class="checkbox-list">
						<span class="checkbox-title">
						
							<input type="checkbox" 
								ng-indeterminate="{{isIndeterminate(selectedHealthIndicators, healthIndicators)}}"
								ng-checked="isChecked(selectedHealthIndicators)"
		  						ng-click="toggleSelectAll(selectedHealthIndicators, healthIndicators)">
		  						
							Incohérence
						</span>
						<div class="checkbox-list-content">
							<label ng-repeat="hi in healthIndicators">
							  <input type="checkbox" value="{{hi}}"
								    ng-checked="selectedHealthIndicators.indexOf(hi) > -1"
			  						ng-click="toggleSelectedHealthIndicator(hi)"> {{'crossfitApp.member.health.enum.min.' + hi | translate}}
							</label>
						</div>
					</div>
				</div>	
				
				
				<div class="form-group pull-left">
					<div class="checkbox-list">
						<span class="checkbox-title">Autres critères</span>
						<div class="checkbox-list-content">
							<div class="fixlabel">
								<label>
								  <input type="checkbox" value="ENCOURS"
									    ng-checked="selectedCustomCriteria.indexOf('ENCOURS') > -1"
				  						ng-click="toggleSelectedCustomCriteria('ENCOURS')"> Abo. en cours au 
				  						
								</label>
					            <datetimepicker hidden-time="true"
									ng-model="customCriteria.encours" how-weeks="false" minute-step="30" show-meridian="false" 
							       	date-format="dd/MM/yyyy" readonly-time="false"></datetimepicker>
							</div>
							<div class="fixlabel">
								<label>
								  <input type="checkbox" value="EXPIRE"
									    ng-checked="selectedCustomCriteria.indexOf('EXPIRE') > -1"
				  						ng-click="toggleSelectedCustomCriteria('EXPIRE')"> Abo. expiré au 
				  						
								</label>
					            <datetimepicker hidden-time="true"
									ng-model="customCriteria.expire" how-weeks="false" minute-step="30" show-meridian="false" 
							       	date-format="dd/MM/yyyy" readonly-time="false"></datetimepicker>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</form>		

	<div class="modal fade" id="lockMemberConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="lockForm" ng-submit="confirmLock(member.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.lock.title">Confirm lock operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="crossfitApp.member.lock.question" translate-values="{id: '{{member.id}}'}">Are you sure you want to lock this Member?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="lockForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.lock">lock</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    

    <div class="modal fade" id="resetAccountMemberConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="resetAccountForm" ng-submit="confirmResetAccount(member.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="crossfitApp.member.reset.title">Confirm reset operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="crossfitApp.member.reset.question" translate-values="{id: '{{member.id}}'}">Are you sure you want to reset this Member?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="resetAccountForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="crossfitApp.member.action.reset">Reset</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
	<div class="form-group form-inline hidden-xs hidden-sm">
		<label>{{totalMember}} membres</label>
	</div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="crossfitApp.member.firstNameLastName">Membre</th>
                    <th translate="crossfitApp.member.email">Email</th>
                    <th translate="crossfitApp.member.telephonNumber">Tel.</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in members" ng-class="{
                'danger': member.locked, 
                'warning': !member.enabled, 
                'success': member.enabled && !member.locked}">
                    <td> <a href="#" ui-sref="member.edit({id:member.id})"> {{member.lastName}} {{member.firstName}} </a></td>
                    <td> 
                    	
						<div class="hidden-xs">
							<a href="mailto:{{member.email}}">{{member.email}}</a>
						</div>
						<div class="hidden-sm hidden-md hidden-lg">
							<a href="mailto:{{member.email}}">{{ (member.email | limitTo:15) + '...' }}</a>
						</div>
						
					</td>
                    <td> <a href="tel:{{member.telephonNumber}}">{{member.telephonNumber}}</a></td>
                    
                    
                    <td>
	                    
						<div class="hidden-xs">
			  				<button type="button" class="btn btn-sm btn-warning btn-primary" ng-click="resetAccount(member.id)">
								<span translate="crossfitApp.member.action.reset"> Reset</span>
							</button>
			  				<button type="button" class="btn btn-sm btn-danger btn-primary" ng-click="lock(member.id)">
								<span>Bloquer</span>
							</button>
						</div>
					</td>
                </tr>
                <tr>
                	<td colspan="4" align="center">
                		<a href="" ng-click="loadPage(page + 1)" ng-if="links['last'] != page">Afficher plus</a>
                	</td>
               	</tr>
            </tbody>
        </table>
    </div>
</div>

