
<form name="form" role="form" novalidate ng-submit="save()">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="clear()">&times;</button>
		
		<h4 class="modal-title modal-title-center">
			<span ng-show="member.number">N°{{member.number}} - </span> 
			<span style="text-transform: capitalize;"><span translate="crossfitApp.member.title.{{member.title}}"></span> {{member.firstName}} {{member.lastName}}</span>
		</h4>
		
		<nav class="navbar navbar-inverse navbar-cf-nancy ng-scope" role="navigation">
			<ul class="nav navbar-nav">
				<li ng-class="{active:view=='infoperso'}">
					<a ng-click="showView('infoperso')"> 
						<span>{{'crossfitApp.member.infoperso'|translate}}</span>
					</a>
				</li>
				<li ng-class="{active:view=='abonnements'}">
					<a ng-click="showView('abonnements')"> 
						<span>{{'crossfitApp.member.abonnements'|translate}}</span>
					</a>
				</li>
				<li ng-class="{active:view=='reservations'}">
					<a ng-click="showView('reservations')"> 
						<span>{{'crossfitApp.member.reservations'|translate}}</span>
					</a>
				</li>
				<li ng-class="{active:view=='authority'}">
					<a ng-click="showView('authority')"> 
						<span>{{'crossfitApp.member.authority'|translate}}</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	
	<div class="modal-body">
		<jh-alert-error></jh-alert-error>
		
		<div class="row" ng-show="view == 'infoperso'">
		  <div class="col-xs-12">
	    	<div class="row form-group"> 
				<div class="col-xs-12 col-md-6">
					<input
						type="text" class="form-control" id="id" name="id"
						ng-model="member.id" readonly>
				</div>
				
				<div class="col-xs-12 col-md-6">
					<input type="text" class="form-control" id="number" name="number"
						placeholder="{{'crossfitApp.member.number.placeholder' | translate}}"
						ng-model="member.number"  ng-minlength=2 ng-maxlength=36 maxlength="36">
				</div>
			</div>
		    <div class="row form-group">
		  		<div class="col-xs-12">
					
			    	<div class="row"> 
			    							
				        <div class="col-xs-2">
				            <select class="form-control" name="title" ng-model="member.title"
							id="field_title" required>
								<option value="MS" translate="crossfitApp.member.title.MS">Mme</option>
								<option value="MR" translate="crossfitApp.member.title.MR">Mr</option>
							</select>
				        </div>
				        <div class="col-xs-5">			        
							<input type="text" class="form-control" id="firstName" name="firstName"
								placeholder="{{'crossfitApp.member.firstname.placeholder' | translate}}"
								ng-model="member.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
				        </div>
				        <div class="col-xs-5">
					        <input type="text" class="form-control" id="lastName"
								name="lastName"
								placeholder="{{'crossfitApp.member.lastname.placeholder' | translate}}"
								ng-model="member.lastName" ng-minlength=1 ng-maxlength=50
								required maxlength="50">
				        </div>
			        </div>
			    	<div class="row"> 
				        <div class="col-xs-12">
				    	  	<div ng-show="form.firstName.$invalid">
								<p class="help-block" ng-show="form.firstName.$error.required"
									translate="crossfitApp.member.messages.validate.firstname.required">Your first name is required.</p>
								<p class="help-block" ng-show="form.firstName.$error.minlength"
									translate="crossfitApp.member.messages.validate.firstname.minlength"> Your first name is required to be at least 1 character.</p>
								<p class="help-block" ng-show="form.firstName.$error.maxlength"
									translate="crossfitApp.member.messages.validate.firstname.maxlength"> Your first name cannot be longer than 50 characters.</p>
							</div>
				    	
				    	
							<div ng-show="form.lastName.$invalid">
								<p class="help-block" ng-show="form.lastName.$error.required"
									translate="crossfitApp.member.messages.validate.lastname.required">Your
									last name is required.</p>
								<p class="help-block" ng-show="form.lastName.$error.minlength"
									translate="crossfitApp.member.messages.validate.lastname.minlength">Your
									last name is required to be at least 1 character.</p>
								<p class="help-block" ng-show="form.lastName.$error.maxlength"
									translate="crossfitApp.member.messages.validate.lastname.maxlength">Your
									last name cannot be longer than 50 characters.</p>
							</div>
						</div>
					</div>
				</div>
		    </div>
		    
		    <div class="row form-group">
		        <div class="col-xs-6">			        
					<input type="text" class="form-control" id="nickName" name="nickName"
						placeholder="{{'crossfitApp.member.nickName.placeholder' | translate}}"
						ng-model="member.nickName" ng-minlength=1 ng-maxlength=50 maxlength="50">
		        </div>
		        <div class="col-xs-6">
			        <input type="text" class="form-control" id="cardUuid"
						name="cardUuid"
						placeholder="{{'crossfitApp.member.cardUuid.placeholder' | translate}}"
						ng-model="member.cardUuid" ng-minlength=1 ng-maxlength=255 maxlength="255">
		        </div>
			</div>
		    
		    <div class="row form-group">
		    	<div class="col-xs-12">
		    		<input type="text" class="form-control" id="address" name="address"
						placeholder="{{'crossfitApp.member.address.placeholder' | translate}}"
						ng-model="member.address" ng-maxlength=255 maxlength="255">
		    	</div>
	    	</div>
		    <div class="row form-group">
		    	<div class="col-xs-4">
		    		<input type="text" class="form-control" id="zipCode" name="zipCode"
						placeholder="{{'crossfitApp.member.zipCode.placeholder' | translate}}"
						ng-model="member.zipCode" ng-maxlength=20 maxlength="20">
		    	</div>
		    	<div class="col-xs-6">
		    		<input type="text" class="form-control" id="city" name="city"
						placeholder="{{'crossfitApp.member.city.placeholder' | translate}}"
						ng-model="member.city" ng-maxlength=100 maxlength="100">
		    	</div>
		    	
		        <div class="col-xs-2">
					<select id="langKey" name="langKey" class="form-control"
						ng-model="member.langKey" ng-controller="LanguageController"
						ng-options="code as (code | findLanguageFromKey) for code in languages"></select>
				</div>
	    	</div>
	    	
		    <div class="row form-group">
		  		<div class="col-xs-12">
			    	<div class="row"> 
				    	<div class="col-xs-8">
				    		<input type="email" class="form-control" id="email" name="email"
							placeholder="{{'crossfitApp.member.email.placeholder' | translate}}"
							ng-model="member.email" ng-minlength=5 ng-maxlength=100
							required maxlength="100">
					  	</div>
				    	<div class="col-xs-4">
				    		 <input type="text" class="form-control" name="telephonNumber" id="field_telephonNumber"
				    		 placeholder="{{'crossfitApp.member.telephonNumber.placeholder' | translate}}"
								ng-model="member.telephonNumber">
				    	</div>
				    </div>
			    	<div class="row"> 
				    	<div class="col-xs-12">		    	
				    		<div ng-show="form.email.$invalid">
								<p class="help-block" ng-show="form.email.$error.required"
									translate="crossfitApp.member.messages.validate.email.required">Your e-mail
									is required.</p>
								<p class="help-block" ng-show="form.email.$error.email"
									translate="crossfitApp.member.messages.validate.email.invalid">Your e-mail
									is invalid.</p>
								<p class="help-block" ng-show="form.email.$error.minlength"
									translate="crossfitApp.member.messages.validate.email.minlength">Your
									e-mail is required to be at least 5 characters.</p>
								<p class="help-block" ng-show="form.email.$error.maxlength"
									translate="crossfitApp.member.messages.validate.email.maxlength">Your
									e-mail cannot be longer than 100 characters.</p>
							</div>
						</div>
					</div>
				</div>
	    	</div>
	    	
	    	<div class="row form-group"> 				
				<div class="col-xs-12">				
					<label class="checkbox-inline">
					  <input type="checkbox" ng-model="member.givenMedicalCertificate"> 					  
					  {{'crossfitApp.member.givenMedicalCertificate.'+(member.givenMedicalCertificate ? 'selected' : 'notselected')+'.label' | translate}}
					</label>					
					<datetimepicker ng-show="member.givenMedicalCertificate" name="medicalCertificateDate" how-weeks="false" show-meridian="false" 
       						date-format="dd/MM/yyyy" hidden-time="true" ng-model="member.medicalCertificateDate"></datetimepicker>
				</div>
			</div>
		    <div class="row form-group">
		  		<div class="col-xs-12">
			  		<label>{{'crossfitApp.member.comments' | translate}}</label>
					<textarea class="form-control" id="comments" name="comments" 
						placeholder="{{'crossfitApp.member.comments.placeholder' | translate}}" ng-maxlength=255
						ng-model="member.comments"></textarea>
		  		</div>
	  		</div>
		  </div>
		</div>
		
		
		<div class="row form-group" ng-show="view == 'abonnements'">
  			<div class="col-xs-12">
						
		    	<div class="row form-group" ng-repeat="subscription in subscriptions = (member.subscriptions | orderBy:'-subscriptionEndDate') "> 
			        <div class="col-xs-4"> 
						<select
							class="form-control" id="field_membership" name="membership"
							ng-model="subscription.membership" required ng-click="calculateEndDate(subscription)"
							ng-options='membership as (membership.name + " - " + membership.priceTaxIncl) for membership in memberships track by membership.id'>
						</select>
					</div>
					<div class="col-xs-4"> 
															
						<datetimepicker name="subscriptionStartDate" how-weeks="false" ng-class="caculateCssDate(subscription, subscriptions[$index-1], subscriptions[$index+1], 'desc' )"
						show-meridian="false" date-format="dd/MM/yyyy" hidden-time="true"
								ng-model="subscription.subscriptionStartDate"></datetimepicker>
	
						<datetimepicker name="subscriptionEndDate" how-weeks="false" show-meridian="false" 
	       						date-format="dd/MM/yyyy" hidden-time="true" ng-model="subscription.subscriptionEndDate"></datetimepicker>
     	
					</div>
					<div class="col-xs-2">
					 
						  <select class="form-control" id="sel1" ng-model="subscription.paymentMethod" required>
						    <option ng-repeat="p in paymentMethods" value="{{p}}">{{'crossfitApp.bill.paymentMethod.enum.' + p | translate }}</option>
						  </select>
					</div>
			        <div class="col-xs-2">
			        
		  				<button type="button" class="btn btn-danger" ng-click="deleteSubscriptionAtIndex($index)" ng-disabled="subscription.bookingCount > 0">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<span ng-if="subscription.bookingCount > 0">{{subscription.bookingCount}} résa.</span>
			        </div>
		        </div>
		        
		        
		        <div class="row form-group" ng-show="form.subscriptionStartDate.$invalid || form.subscriptionEndDate.$invalid || form.membership.$invalid">
			        <div class="col-xs-12"> 
						<p class="help-block" ng-show="form.subscriptionStartDate.$error.required"
							translate="crossfitApp.member.messages.validate.subscriptionStartDate.required">subscriptionStartDate is required.</p>
						<p class="help-block" ng-show="form.subscriptionEndDate.$error.required"
								translate="crossfitApp.member.messages.validate.subscriptionEndDate.required">subscriptionEndDate is required.</p>
						<p class="help-block" ng-show="form.membership.$error.required"
							translate="crossfitApp.member.messages.validate.membership.required">field_membership is required.</p>
					</div>
				</div>
				
						       
		    	<div class="row form-group">  
			        <div class="col-xs-12"> 
		  				<button type="button" class="btn btn-primary pull-right" ng-click="addSubscription()">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
			        </div>
				</div>
				
			</div>
		</div>
		
		
		
		<div class="row form-group" ng-show="view == 'reservations'">
  			<div class="col-xs-12"  style="max-height: 300px; overflow-y: scroll;">
  			
				<ul class="list-group" ng-if="member.bookings.length">
					<li class="list-group-item" ng-repeat="booking in member.bookings">
																			
						<span class="glyphicon glyphicon-thumbs-{{booking.checkInDate ? 'up' : 'down'}} {{booking.cardUuid ? '' : 'no-card'}}"></span>
							
				       	{{booking.startAt | date:"EEE dd MMM yyyy 'à' HH:mm"}} - {{booking.title}}
				       						
						<button type="button" ng-click="quickDeleteBooking(booking)" class="pull-right btn btn-xs btn-danger">
	                    	<span class="glyphicon glyphicon-remove"></span></button>
					</li>
				</ul>
		
				<div ng-if="!member.bookings || member.bookings.length == 0">
					Aucune réservation
				</div>
			</div>
		</div>
		
		
		
		<div class="row form-group" ng-show="view == 'authority'">
  			<div class="col-xs-12">
				<label ng-repeat="role in roles" class="checkbox-inline" style="margin-left: 10px">
				  <input type="checkbox" value="{{role}}"
					    ng-checked="member.roles.indexOf(role) > -1"
  						ng-click="toggleSelectedRole(role)"> {{'crossfitApp.member.role.' + role | translate}}
				</label>
			</div>
		</div>
    </div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
				translate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit"
			ng-disabled="form.$invalid"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				translate="entity.action.save">Save</span>
		</button>
	</div>
</form>
