
<form name="form" role="form" novalidate ng-submit="saveAndQuit()">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="clear()">&times;</button>
		
		<h4 class="modal-title modal-title-center">
			<span ng-show="member.number">N°{{member.number}} - </span> 
			<span style="text-transform: capitalize;"><span translate="crossfitApp.member.title.{{member.title}}"></span> {{member.firstName}} {{member.lastName}}</span>
		</h4>
		
		<nav class="navbar navbar-inverse navbar-cf-nancy ng-scope" role="navigation">
			<ul class="nav navbar-nav">
				<li ng-class="{active:view=='infoperso'}">
					<a ui-sref="member.edit.view({view:'infoperso'})"> 
						<span>{{'crossfitApp.member.infoperso'|translate}}</span>
					</a>
				</li>
				<li ng-class="{active:view=='abonnements'}">
					<a ui-sref="member.edit.view({view:'abonnements'})"> 
						<span>{{'crossfitApp.member.abonnements'|translate}}</span>
					</a>
				</li>
				<li ng-class="{active:view=='reservations'}">
					<a ui-sref="member.edit.view({view:'reservations'})"> 
						<span>{{'crossfitApp.member.reservations'|translate}}</span>
					</a>
				</li>
				<li ng-class="{active:view=='authority'}">
					<a ui-sref="member.edit.view({view:'authority'})"> 
						<span>{{'crossfitApp.member.authority'|translate}}</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	
	<div class="modal-body">
		
		<div class="row" ng-show="view == 'infoperso'">
		  <div class="col-md-12 col-lg-8">
	    	<div class="row"> 
				<div class="col-xs-12 col-sm-6 form-group">
					<input
						type="text" class="form-control" id="id" name="id"
						ng-model="member.id" readonly>
				</div>
				
				<div class="col-xs-12 col-sm-6 form-group">
					<input type="text" class="form-control" id="number" name="number"
						placeholder="{{'crossfitApp.member.number.placeholder' | translate}}"
						ng-model="member.number"  ng-minlength=2 ng-maxlength=36 maxlength="36">
				</div>
			</div>
		    <div class="row">
		  		<div class="col-xs-12">
					
			    	<div class="row"> 
			    							
				        <div class="form-group col-xs-12 col-sm-2">
				            <select class="form-control" name="title" ng-model="member.title"
							id="field_title" required>
								<option value="MS" translate="crossfitApp.member.title.MS">Mme</option>
								<option value="MR" translate="crossfitApp.member.title.MR">Mr</option>
							</select>
				        </div>
				        <div class="form-group col-xs-6 col-sm-5">			        
							<input type="text" class="form-control" id="firstName" name="firstName"
								placeholder="{{'crossfitApp.member.firstname.placeholder' | translate}}"
								ng-model="member.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
				        </div>
				        <div class="form-group col-xs-6 col-sm-5">
					        <input type="text" class="form-control" id="lastName"
								name="lastName"
								placeholder="{{'crossfitApp.member.lastname.placeholder' | translate}}"
								ng-model="member.lastName" ng-minlength=1 ng-maxlength=50
								required maxlength="50">
				        </div>
			        </div>
			    	<div class="row"> 
				        <div class="col-xs-12">
				    	  	<div ng-show="form.firstName.$invalid">
								<p class="help-block" ng-show="form.firstName.$error.required"
									translate="crossfitApp.member.messages.validate.firstname.required">Your first name is required.</p>
								<p class="help-block" ng-show="form.firstName.$error.minlength"
									translate="crossfitApp.member.messages.validate.firstname.minlength"> Your first name is required to be at least 1 character.</p>
								<p class="help-block" ng-show="form.firstName.$error.maxlength"
									translate="crossfitApp.member.messages.validate.firstname.maxlength"> Your first name cannot be longer than 50 characters.</p>
							</div>
				    	
				    	
							<div ng-show="form.lastName.$invalid">
								<p class="help-block" ng-show="form.lastName.$error.required"
									translate="crossfitApp.member.messages.validate.lastname.required">Your
									last name is required.</p>
								<p class="help-block" ng-show="form.lastName.$error.minlength"
									translate="crossfitApp.member.messages.validate.lastname.minlength">Your
									last name is required to be at least 1 character.</p>
								<p class="help-block" ng-show="form.lastName.$error.maxlength"
									translate="crossfitApp.member.messages.validate.lastname.maxlength">Your
									last name cannot be longer than 50 characters.</p>
							</div>
						</div>
					</div>
				</div>
		    </div>
		    
		    <div class="row form-group">
		        <div class="col-xs-6">			        
					<input type="text" class="form-control" id="nickName" name="nickName"
						placeholder="{{'crossfitApp.member.nickName.placeholder' | translate}}"
						ng-model="member.nickName" ng-minlength=1 ng-maxlength=50 maxlength="50">
		        </div>
		        <div class="col-xs-6">
			        <input type="text" class="form-control" id="cardUuid"
						name="cardUuid"
						placeholder="{{'crossfitApp.member.cardUuid.placeholder' | translate}}"
						ng-model="member.cardUuid" ng-minlength=1 ng-maxlength=255 maxlength="255">
		        </div>
			</div>
		    
		    <div class="row form-group">
		    	<div class="col-xs-12">
		    		<input type="text" class="form-control" id="address" name="address"
						placeholder="{{'crossfitApp.member.address.placeholder' | translate}}"
						ng-model="member.address" ng-maxlength=255 maxlength="255">
		    	</div>
	    	</div>
		    <div class="row">
		    	<div class="form-group col-xs-12 col-sm-4">
		    		<input type="text" class="form-control" id="zipCode" name="zipCode"
						placeholder="{{'crossfitApp.member.zipCode.placeholder' | translate}}"
						ng-model="member.zipCode" ng-maxlength=20 maxlength="20">
		    	</div>
		    	<div class="form-group col-xs-12 col-sm-5">
		    		<input type="text" class="form-control" id="city" name="city"
						placeholder="{{'crossfitApp.member.city.placeholder' | translate}}"
						ng-model="member.city" ng-maxlength=100 maxlength="100">
		    	</div>
		    	
		        <div class="form-group col-xs-12 col-sm-3">
					<select id="langKey" name="langKey" class="form-control"
						ng-model="member.langKey" ng-controller="LanguageController"
						ng-options="code as (code | findLanguageFromKey) for code in languages"></select>
				</div>
	    	</div>
	    	
		    <div class="row">
		  		<div class="col-xs-12">
			    	<div class="row"> 
				    	<div class="form-group col-xs-12 col-sm-8">
				    		<input type="email" class="form-control" id="email" name="email"
							placeholder="{{'crossfitApp.member.email.placeholder' | translate}}"
							ng-model="member.email" ng-minlength=5 ng-maxlength=100
							required maxlength="100">
					  	</div>
				    	<div class="form-group col-xs-12 col-sm-4">
				    		 <input type="text" class="form-control" name="telephonNumber" id="field_telephonNumber"
				    		 placeholder="{{'crossfitApp.member.telephonNumber.placeholder' | translate}}"
								ng-model="member.telephonNumber">
				    	</div>
				    </div>
			    	<div class="row"> 
				    	<div class="col-xs-12">		    	
				    		<div ng-show="form.email.$invalid">
								<p class="help-block" ng-show="form.email.$error.required"
									translate="crossfitApp.member.messages.validate.email.required">Your e-mail
									is required.</p>
								<p class="help-block" ng-show="form.email.$error.email"
									translate="crossfitApp.member.messages.validate.email.invalid">Your e-mail
									is invalid.</p>
								<p class="help-block" ng-show="form.email.$error.minlength"
									translate="crossfitApp.member.messages.validate.email.minlength">Your
									e-mail is required to be at least 5 characters.</p>
								<p class="help-block" ng-show="form.email.$error.maxlength"
									translate="crossfitApp.member.messages.validate.email.maxlength">Your
									e-mail cannot be longer than 100 characters.</p>
							</div>
						</div>
					</div>
				</div>
	    	</div>
	    	
	    	
		  </div>
		  <div class="col-md-12 col-lg-4">
	    	<div class="row form-group"> 				
				<div class="col-xs-12">				
					<label class="checkbox-inline">
					  <input type="checkbox" ng-model="member.givenMedicalCertificate"> 					  
					  {{'crossfitApp.member.givenMedicalCertificate.'+(member.givenMedicalCertificate ? 'selected' : 'notselected')+'.label' | translate}}
					</label>					
					<datetimepicker ng-show="member.givenMedicalCertificate" name="medicalCertificateDate" how-weeks="false" show-meridian="false" 
       						date-format="dd/MM/yyyy" hidden-time="true" ng-model="member.medicalCertificateDate"></datetimepicker>
				</div>
			</div>
		    <div class="row form-group">
		  		<div class="col-xs-12">
			  		<label>{{'crossfitApp.member.comments' | translate}}</label>
					<textarea class="form-control" id="comments" name="comments" style="height: 200px"
						placeholder="{{'crossfitApp.member.comments.placeholder' | translate}}" ng-maxlength=255
						ng-model="member.comments"></textarea>
		  		</div>
	  		</div>
		  </div>
		</div>
		
		
		<div class="row member-subscriptions" ng-show="view == 'abonnements'">
  			<div class="col-xs-12">	
  			
  							
		    	<div class="row form-group">  
			        <div class="col-xs-12"> 
		  				<button type="button" class="btn btn-primary pull-right" ng-click="addSubscription()">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
			        </div>
				</div>
		    	<div class="panel panel-default form-group" ng-class="{'panel-primary open-sub':now < subscription.subscriptionEndDate || !subscription.subscriptionEndDate, 'open-sub': isOpen(subscription)}"
			    		ng-repeat="subscription in subscriptions = (member.subscriptions | orderBy:'-subscriptionEndDate') "> 
					<div class="panel-heading" >
					
				  		<button type="button" class="btn btn-sm btn-default toggle-button" ng-click="toggle($event, subscription)"
				  			ng-disabled="now < subscription.subscriptionEndDate || !subscription.subscriptionEndDate">
							<span class="glyphicon glyphicon-{{isOpen(subscription) ? 'collapse-down' : 'expand'}}"></span>
				  		</button>
										
						<span ng-if="subscription.membership" class="hidden-xs">
							{{subscription.subscriptionStartDate | date: 'dd/MM/yyyy'}} > {{subscription.subscriptionEndDate | date: 'dd/MM/yyyy'}} |
						</span>	
						<span ng-if="subscription.membership">
							{{subscription.membership.name}}
						</span>
						<span ng-if="!subscription.membership">Sélectionner un abonnement</span>
						
						
						
						<div class="pull-right">
							<span ng-if="subscription.bookingCount>0"
								style="white-space: nowrap;">{{subscription.bookingCount}}
								résa.</span>
							<button ng-if="subscription.bookingCount==0" type="button"
								class="btn btn-danger"
								ng-click="deleteSubscription(subscription)"
								ng-disabled="subscription.bookingCount > 0">
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
					
					</div>

					<div class="panel-body">
			    	
						<div class="row">
							<div class="col-xs-12 col-sm-5 col-lg-3 form-group">
			  					<label>Type d'abonnement </label>
								<select ng-disabled="subscription.bookingCount > 0"
									class="form-control" id="field_membership" name="membership"
									ng-model="subscription.membership" required
									ng-click="calculateEndDate(subscription)"
									ng-options='membership as (membership.name + " - " + membership.priceTaxIncl) for membership in memberships track by membership.id'>
								</select>
							</div>				
							
							<div class="col-xs-12 col-sm-7 col-lg-3 form-group">
			  					<label>Début / Fin </label>		
								<div class="form-inline">
		
									<datetimepicker name="subscriptionStartDate" how-weeks="false"
										ng-class="caculateCssDate(subscription, subscriptions[$index-1], subscriptions[$index+1], 'desc' )"
										show-meridian="false" date-format="dd/MM/yyyy"
										hidden-time="true" ng-model="subscription.subscriptionStartDate"></datetimepicker>
		
									<datetimepicker name="subscriptionEndDate" how-weeks="false"
										show-meridian="false" date-format="dd/MM/yyyy"
										hidden-time="true" ng-model="subscription.subscriptionEndDate"></datetimepicker>
								</div>
		
							</div>
							
							<div class="col-xs-12 col-sm-8 col-lg-3 form-group">
			  					<label>Mode de paiement</label>		
								<select class="form-control" id="sel1"
									ng-model="subscription.paymentMethod" required>
									<option ng-repeat="p in paymentMethods" value="{{p}}">{{'crossfitApp.bill.paymentMethod.enum.'
										+ p | translate }}</option>
								</select>
							</div>
							
							<div class="col-sm-4 col-lg-3 form-group hidden-xs">
			  						<label>&nbsp</label>		
									<button ng-if="subscription.signatureDate == null" type="button"
										class="btn btn-danger form-control"
										ng-click="prepareSignature(subscription)">Générer contrat
									</button>
							</div>
							
						</div>
	
						<div class="panel panel-default"  ng-if="subscription.paymentMethod=='DIRECT_DEBIT'">
							<div class="panel-heading">Info. Prélèvement</div>
							<div class="panel-body">
							
								<div class="row">
								
									<div class="col-xs-5 col-sm-3 col-md-2 form-group">
					  					<label>A partir du </label>
		
										<datetimepicker class="input-group" name="subscriptionDirectDebitAfterDate"
											how-weeks="false" show-meridian="false"
											date-format="dd/MM/yyyy" hidden-time="true"
											ng-model="subscription.directDebitAfterDate"></datetimepicker>
									</div>
									
									<div class="col-xs-7 col-sm-4 form-group">
					  					<label>Jour prélèvement</label>
				  					    <div class="input-group" style="max-width: 230px;">		
		  									<span class="input-group-addon">Le</span>	  															
												
											<input type="number" class="form-control" style="text-align: right"
												ng-model="subscription.directDebitatDayOfMonth" ng-minlength=1
												ng-maxlength=2 maxlength="2">
											
		  									<span class="input-group-addon hidden-xs">de chaque mois</span>
										</div>
									</div>
									
									<div class="col-xs-12 col-sm-4 form-group">
					  					<label>Premier paiement de </label>
				  					    <div class="input-group">			  					
											<input type="number" style="text-align: right"
												class="form-control "
												ng-model="subscription.directDebitFirstPaymentTaxIncl"
												ng-minlength=1 ng-maxlength=12 maxlength="12" />
		  									<span class="input-group-addon">€</span>
										</div>
									</div>
									<div class="col-sm-offset-1">
									</div>
									
									<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 form-group">	
									
					  					<label>IBAN</label>
				  					    <div>
											<input type="text" class="form-control" id="iban" name="iban"
												placeholder="{{'crossfitApp.member.iban.placeholder' | translate}}"
												ng-model="subscription.directDebitIban" ng-minlength=34
												ng-maxlength=34 maxlength="34" /> 
				  					    </div>
			  					    </div>
			  					    
									<div class="col-xs-12 col-sm-4 col-lg-3 form-group">
			
					  					<label>BIC</label>
				  					    <div>
											<input type="text"
												class="form-control" id="bic" name="bic"
												placeholder="{{'crossfitApp.member.bic.placeholder' | translate}}"
												ng-model="subscription.directDebitBic" ng-minlength=8 disabled
												ng-maxlength=8 maxlength="8" /> 
										</div>
									</div>
				
								</div>		
							</div>
						</div>	
					
					</div>
		    	</div>	  		
		        
		        <div class="row form-group" ng-show="form.subscriptionStartDate.$invalid || form.subscriptionEndDate.$invalid || form.membership.$invalid">
			        <div class="col-xs-12"> 
						<p class="help-block" ng-show="form.subscriptionStartDate.$error.required"
							translate="crossfitApp.member.messages.validate.subscriptionStartDate.required">subscriptionStartDate is required.</p>
						<p class="help-block" ng-show="form.subscriptionEndDate.$error.required"
								translate="crossfitApp.member.messages.validate.subscriptionEndDate.required">subscriptionEndDate is required.</p>
						<p class="help-block" ng-show="form.membership.$error.required"
							translate="crossfitApp.member.messages.validate.membership.required">field_membership is required.</p>
					</div>
				</div>
				
						       
				
			</div>
		</div>
		
		
		
		<div class="row form-group" ng-show="view == 'reservations'">
  			<div class="col-xs-12"  style="max-height: 400px; overflow-y: scroll;">
  			
				<ul class="list-group" ng-if="member.bookings.length">
					<li class="list-group-item" ng-repeat="booking in member.bookings">
																			
						<span class="glyphicon glyphicon-thumbs-{{booking.checkInDate ? 'up' : 'down'}} {{booking.cardUuid ? '' : 'no-card'}}"></span>
							
				       	{{booking.startAt | date:"EEE dd MMM yyyy 'à' HH:mm"}} - {{booking.title}}
				       						
						<button type="button" ng-click="quickDeleteBooking(booking)" class="pull-right btn btn-xs btn-danger">
	                    	<span class="glyphicon glyphicon-remove"></span></button>
					</li>
				</ul>
		
				<div ng-if="!member.bookings || member.bookings.length == 0">
					Aucune réservation
				</div>
			</div>
		</div>
		
		
		
		<div class="row form-group" ng-show="view == 'authority'">
  			<div class="col-xs-12">
				<label ng-repeat="role in roles" class="checkbox-inline" style="margin-left: 10px">
				  <input type="checkbox" value="{{role}}"
					    ng-checked="member.roles.indexOf(role) > -1"
  						ng-click="toggleSelectedRole(role)"> {{'crossfitApp.member.role.' + role | translate}}
				</label>
			</div>
		</div>
		
		
		<jh-alert-error></jh-alert-error>
    </div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
				translate="entity.action.cancel">Cancel</span>
		</button>
		<button type="button"
			ng-disabled="form.$invalid"
			class="btn btn-primary hidden-xs"
			ng-click="save()">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				translate="entity.action.save">Save</span>
		</button>
		<button type="submit"
			ng-disabled="form.$invalid"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				translate="entity.action.saveAndQuit">Save & Quit</span>
		</button>
	</div>
</form>
