<div class="panel panel-default">
	<div class="panel-heading"  style="text-align: center;" 
		translate="crossfitApp.booking.home.title">
		Mes Reservations
	</div>
	<div class="panel-body">
	
		<div ng-if="message" class="alert alert-danger">
			{{message}}
		</div>
		
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="booking in bookings">
				<button ng-click="delete(booking)" 
		                    	class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
		       	{{booking.startAt | date:"EEE dd MMM 'à' HH:mm"}} - {{booking.title}}
			</li>
		</ul>
	</div>
</div>