a{
    text-decoration: none;
    color: white;
}
.mat-toolbar{
    position: fixed;
    z-index: 999;
}

.mat-icon {
    cursor: pointer;
}

mat-toolbar-row {
    width: 100%;

    .right-action{
    float: right;
    }
}
.spacer{
    flex: 1 1 auto;
}

mat-form-field {
    flex-grow: 1;
    font-weight: lighter;
    font-size: 16px;
}