<mat-progress-bar mode="indeterminate" *ngIf="!account"></mat-progress-bar>

<div class="account-container" *ngIf="account">

  <form novalidate (ngSubmit)="onSubmit()">

    <div class="form-container">
      <div class="line">
        <mat-form-field class="title">
          <mat-select placeholder="{{'account.title.placeholder' | translate}}"
            [(ngModel)]="account.title" name="account.title">
            <mat-option [value]="'MR'">
                {{'account.title.MR' | translate}}
            </mat-option>
            <mat-option [value]="'MS'">
                {{'account.title.MS' | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
            
        <mat-form-field class="firstName">
          <input matInput placeholder="{{'account.firstName.placeholder' | translate}}"
            [(ngModel)]="account.firstName" name="account.firstName">
        </mat-form-field>
        <mat-form-field class="lastName">
          <input matInput placeholder="{{'account.lastName.placeholder' | translate}}"
            [(ngModel)]="account.lastName" name="account.lastName">
        </mat-form-field>
      </div>
      <div class="line">
        <mat-form-field>
          <input matInput placeholder="{{'account.address.placeholder' | translate}}"
            [(ngModel)]="account.address" name="account.address">
        </mat-form-field>
      </div>

      <div class="line">
        <mat-form-field class="zipCode">
          <input matInput placeholder="{{'account.zipCode.placeholder' | translate}}"
            [(ngModel)]="account.zipCode" name="account.zipCode">
        </mat-form-field>
        <mat-form-field class="city">
          <input matInput placeholder="{{'account.city.placeholder' | translate}}"
            [(ngModel)]="account.city" name="account.city">
        </mat-form-field>
      </div>

      <div class="line">
        <mat-form-field class="email">
            <input matInput placeholder="{{'account.email.placeholder' | translate}}"
              [(ngModel)]="account.email" name="account.email">
          </mat-form-field>

          <mat-form-field class="telephon">
            <input matInput placeholder="{{'account.telephonNumber.placeholder' | translate}}"
              [(ngModel)]="account.telephonNumber" name="account.telephonNumber">
          </mat-form-field>
      </div>

      <div class="line">
        <mat-form-field>
          <input matInput placeholder="{{'account.nickName.placeholder' | translate}}"
            [(ngModel)]="account.nickName" name="account.nickName">
        </mat-form-field>
      </div>

  </div>

  <div class="form-footer">
    <submit-button></submit-button>

    <mat-progress-bar mode="indeterminate" *ngIf="status=='wait'"></mat-progress-bar>
  </div>

  </form>

</div>