<div class="panel panel-default">
	<div class="panel-heading"  style="text-align: center;" 
		translate="crossfitApp.booking.home.title">
		Mes Reservations
	</div>
	<div class="panel-body">
	
		<div ng-if="message" class="alert alert-danger">
			{{message}}
		</div>
		
		<div ng-if="!bookings.length" class="alert alert-info" style="text-align: center;">
			Vous n'avez aucune réservation à venir. <br/>
			<a href="" ui-sref="planning"><strong>Accéder au planning</strong> pour trouver votre créneau !	</a>
		</div>
		
		<ul class="list-group" ng-if="bookings.length">
			<li class="list-group-item" ng-repeat="booking in bookings">
		       	{{booking.startAt | date:"EEE dd MMM 'à' HH:mm"}} - {{booking.title}}
				<button ng-click="delete(booking)" 
		                    	class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
			</li>
		</ul>
	</div>
</div>

<div class="panel panel-default" ng-if="pastBookings.length">
	<div class="panel-heading"  style="text-align: center;" 
		translate="crossfitApp.pastbooking.home.title">
		Mes Reservations passé
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="booking in pastBookings">
		       	{{booking.startAt | date:"EEE dd MMM 'à' HH:mm"}} - {{booking.title}}
			</li>
			<li class="list-group-item" style="text-align: center;" ng-if="hasMore">
				<a href="" ng-click="showMorePastBooking()" translate="crossfitApp.pastbooking.action.showMore" >plus</a>
			</li>
		</ul>
	</div>
</div>