

$blue: #626E7E;
$light: lighten($blue, 40%);
$light2: darken($light, 3%);

.day-action-menu{
	float: right;
	width: 30px;
	height: 30px;
	line-height: 30px;
	.material-icons{
		font-size: 18px;
	}
}

.cell-header {
	span{
		display: none;
	}
	.day-number{
		display: block;
		font-size: 0.8em;
		border-radius: 50%;
		padding: 3px;

		text-align: center;
		width: 15px;
		height: 15px;
	
		&.active{
			background: $blue;
			color: #fff;
		}
	}
}


.cell-header-day-1{
	
	.day-number{
		float: left;
	}
	.month{
		display: block;
		font-size: 0.8em;
		padding: 3px;
	}
}

.cell-header-row-0 .day-name{
	display: block;
}

table{
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	table-layout: fixed;
	margin-bottom: 50px;

	tbody{
		tr{
			td{
				border-bottom:1px solid $blue;
				vertical-align: top;
				border-left: 1px solid $blue;
				position: relative;
				height: 32px;

				&:last-child{
					border-right:1px solid $blue;
				}
			}
		}
	}

  		@media(max-width:60em){

		}

	  	@media(max-width:27em){
		}
	}