
<div class="cell
  cell-row-{{rowIdx}} 
  cell-col-{{colIdx}} 
  cell-day-{{day.date.date()}}">

  <div class="cell-header">

    <button class="day-action-menu" mat-icon-button (click)="addEvent(day)" *ngIf="onAddEvent == null && rowIdx != 0">
      <mat-icon>add</mat-icon>
    </button>

    
    <button class="day-action-menu" mat-icon-button [matMenuTriggerFor]=addEventMenu [matMenuTriggerData]="{day: day}" *ngIf="addEventMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    
    <span *ngIf="showDayName" class="day-name">{{day.date.format('dddd')}}</span>
    <span class="day-number" [ngClass]="{'active':day.date.isSame(now, 'd'), 'big-center': showBigCenterDayNumber}">{{day.date.date()}}</span>
    <span *ngIf="showMonth" class="month">{{day.date.format('MMM')}}</span>
  </div>

  <div class="cell-content">
    <ng-content></ng-content>
  </div>

  <div class="cell-footer">

  </div>
</div>
  