
@import '~@angular/material/theming';

@include mat-core();


$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);    
$app-theme: mat-light-theme($app-primary, $app-accent);

:host{
    height: 100%;
    display: block;
}
.cell{
	height: 100%;
}

.cell-header {
	min-height: 30px;

	.month{
		display: none;
	}

	.day-action-menu{
		float: right;
		width: 20px;
		height: 20px;
		line-height: 20px;
		.material-icons{
			font-size: 12px;
			width: 20px;
			height: 20px;
			line-height: 20px;
		}
	}

	.day-number{
		display: block;
		font-size: 0.8em;
		border-radius: 50%;
		padding: 3px;

		text-align: center;
		width: 15px;
		height: 15px;
	
		&.active{
			background-color:mat-color(map-get($app-theme, accent));
			color: #FFF;
		}
	}

	.day-number.big-center{
		font-size: 1.2em;
		width: 30px;
		height: 30px;
		margin: 0 auto 5px;
		padding: 5px;
		line-height: 1.8;

		&.active{
			background-color:mat-color(map-get($app-theme, accent));
			color: #FFF;
		}
	}
}


.cell-day-1, .cell-col-0{
	
	.day-number:not(.big-center){
		float: left;
	}
	.month{
		display: block;
		font-size: 0.8em;
		padding: 3px;
	}
}


.cell:hover .day-action-menu{
	display: block;
}