

$blue: #626E7E;
$light: lighten($blue, 40%);
$light2: darken($light, 3%);


table{
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	table-layout: fixed;
	margin-bottom: 50px;

	tbody{
		tr{
			td{
				border-bottom:1px solid $blue;
				vertical-align: top;
				border-left: 1px solid $blue;
				position: relative;
				height: 80px;

				&:last-child{
					border-right:1px solid $blue;
				}
			}
		}
	}

  		@media(max-width:60em){

		}

	  	@media(max-width:27em){
		}
	}