<div ng-cloak>
	<div class="row word-container">
		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 word-doc">

			<div class="no-page-break">

				<div class="paragraphe">
					<div class="sepa">
						<div class="intro">
							<img ng-src="{{box.sepa.logoURL}}">
							<p ng-bind-html="box.sepa.legalText"></p>
						</div>
						
						
						<div class="line">

							<div class="moitie beneficiaire">
								Pour le compte de: <br/>
								<p ng-bind-html="box.sepa.beneficiaire"></p>
							</div>

							<div class="moitie">
								<div class="line">
									<div class="moitie dotted"><label>Prénom : </label><span>{{member.firstName}}</span></div>
									<div class="moitie dotted"><label>Nom : </label><span>{{member.lastName}}</span></div>
								</div>
								<div class="line dotted"><label>Adresse : </label><span>{{member.address}}</span></div>
								<div class="line">
									<div class="moitie dotted"><label>Ville : </label><span>{{member.city}}</span></div>
									<div class="moitie dotted"><label>Code postal : </label><span>{{member.zipCode}}</span></div>
								</div>
								<div class="line"> <label>Paiement : </label>
									<input type="checkbox" checked="checked" readonly="readonly"/> <span>Récurrent </span>
									<input type="checkbox" disabled="disabled"/> <span>Unique</span>
								</div>
							</div>
						</div>

						<div style="clear: both"></div>
						
						<div class="line" style="margin-bottom: 10px;">
							<label>A débiter sur : </label>  <span>IBAN {{mandate.iban}}</span> <label style="margin-left: 20px;">BIC : </label>  <span>{{mandate.bic}}</span>
						</div>
						
						
						<div class="line" style="margin-top: 5px;">

							<div class="moitie">
							
								<div ng-if="mandate.signatureDate == null" >

									<label class="line">Signature : 
										<button ng-click="clear();mandateSigned.signatureDataEncoded=null;">Effacer</button>
									</label>
									<div class="line" style="margin-top: 6px; border: 1px solid black;">
										<signature-pad
												accept="accept" clear="clear" height="100"		width="400"
												dataurl="mandateSigned.signatureDataEncoded"
												disabled="false"></signature-pad>

									</div>
								</div>

								<div ng-if="mandate.signatureDate != null" class="line" style="margin-top: 6px; border: 1px solid black;">
									<img alt="" ng-src="{{mandate.signatureDataEncoded}}" height="100px" style="margin: 0 10px;"> <br/>
								</div>
							</div>

							<div class="moitie">
								<div class="line"> <label>Référence unique du mandat : </label>  <span>{{mandate.rum}}</span></div>
								<div class="line"> <label>Identifiant Créancier SEPA : </label>  <span>{{mandate.ics}}</span></div>
								
							</div>
						</div>
						<div style="clear: both"></div>

						<div class="line" style="margin-bottom: 5px;"> <span>Nancy, le {{mandateSigned.signatureDate | date:'dd/MM/yyyy'}}</span></div>

						<div class="line" style="text-align: center;" ng-if="mandate.signatureDate == null">								
							<button ng-click="sign()"  class="btn btn-sm btn-primary" ng-disabled="!mandateSigned.signatureDataEncoded">Signer le mandat</button>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

