<div ng-cloak>
	<div class="row word-container">
		<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 word-doc">
			
			<div class="paragraphe">
				<div class="logo"><img src="{{box.contrat.logoURL}}"/></div>
				
				<div class="">
					<span class="contract-number">Contrat d’adhésion n° {{sub.id}}</span>
					<span>à durée indéterminée</span>
				</div>
				
				<div class="preambule" ng-bind-html="box.contrat.preambuleText"></div>
			</div>
			
			<div class="title" ng-bind-html="box.contrat.designation.titleText"></div>
			<div class="paragraphe">

				<div class="italic">Entre</div>
				
				<div class="line dotted"><label>Civilité : </label><span>{{member.title}}</span></div>
				<div class="line dotted"><label>Nom : </label><span>{{member.firstName}}</span></div>
				<div class="line dotted"><label>Prénom : </label><span>{{member.lastName}}</span></div>
				<div class="line dotted"><label>Adresse : </label><span>{{member.address}}</span></div>
				<div class="line">
					<div class="moitie dotted"><label>Code postal : </label><span>{{member.zipCode}}</span></div>
					<div class="moitie dotted"><label>Ville : </label><span>{{member.city}}</span></div>
				</div>
				<div class="line">
					<div class="moitie dotted"><label>Tél : </label><span>{{member.telephonNumber}}</span></div>
					<div class="moitie dotted"><label>Mail : </label><span>{{member.email}}</span></div>
				</div>				
			</div>
			<div class="paragraphe" ng-bind-html="box.contrat.designation.adherentText"></div>
			
			<div class="paragraphe">				
				<div class="italic">Et</div>
				
				<div class="line" ng-bind-html="box.contrat.designation.beneficiaireText"></div>
			</div>

			<div class="title">
				Formule d'adhésion
			</div>

			<div class="paragraphe">	
				<table border="0">
					<thead>
						<tr>
							<th class="background-blue">Désignation</th>
							<th class="background-blue">Prestation</th>
							<th class="background-blue">Tarif mensuel TTC</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{sub.membership.name}}</td>
							<td>{{sub.membership.information}}</td>
							<td class="text-right">{{sub.membership.priceTaxIncl | currency:'€' }}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr ng-if="sub.directDebit.id && sub.directDebit.firstPaymentMethod != 'NA'"> 
							<th class="background-blue" colspan="2">Réglement du premier mois en {{'crossfitApp.bill.paymentMethod.enum.' + sub.directDebit.firstPaymentMethod | translate }}</th>
							<th class="text-right">{{sub.directDebit.firstPaymentTaxIncl | currency:'€' }}</th>
						</tr>
						<tr ng-if="sub.directDebit.id"> 
							<th class="background-blue" colspan="2">Montant des mensualités à compter du {{sub.directDebit.afterDate | date:'dd/MM/yyyy'}} le {{sub.directDebit.atDayOfMonth}} de chaque mois</th>
							<th class="text-right">{{sub.directDebit.amount | currency:'€' }}</th>
						</tr>
						
						<tr ng-if="sub.paymentMethod != 'DIRECT_DEBIT'"> 
							<th class="background-blue" colspan="2">Réglement en {{'crossfitApp.bill.paymentMethod.enum.' + sub.paymentMethod | translate }}</th>
							<th class="text-right">{{sub.membership.priceTaxIncl | currency:'€' }}</th>
						</tr>
					</tfoot>
				</table>
			</div>
			

			<div class="no-page-break">
				<div class="title">
					Résiliation
				</div>
				
				<div class="paragraphe">	
					{{sub.membership.resiliationInformation}}
				</div>
			</div>
			
			<div class="title" ng-bind-html="box.contrat.cgv.titleText"></div>	
			
			<div class="paragraphe no-page-break" ng-repeat="cgv in box.contrat.cgv.content" ng-bind-html="cgv"></div>
			
			<div class="no-page-break">		
				
				<div class="title" ng-bind-html="box.contrat.signature.titleText"></div>	
				<div class="paragraphe">
					
					<p ng-bind-html="box.contrat.signature.contentText"></p>
					
					<input type="button" value="Lu et approuvé" ng-if="sub.signatureDate == null"
						ng-click="readAndApproved()"/>
						
					<div ng-if="sub.signatureDate != null">
						<img alt="" src="{{sub.signatureDataEncoded}}" height="100px" style="float: left; margin: 10px;"> <br/>
						{{member.firstName}} {{member.lastName}} <br/>
						Contrat lu et approuvé le {{sub.signatureDate | date:'dd/MM/yyyy \'à\' HH:mm'}}
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
    <div class="modal fade" id="signature">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="signatureForm">
					<div class="modal-header">
						Contrat lu et approuvé le {{subSigned.signatureDate | date:'dd/MM/yyyy \'à\' HH:mm'}}
					</div>
					<div class="modal-body" style="height: 220px;">
						<signature-pad accept="accept" clear="clear" height="220"
							dataurl="subSigned.signatureDataEncoded"
							width="568" disabled="false"></signature-pad>
					</div>
					<div class="modal-footer">
						<button ng-click="clear()">Effacer</button>
						<button ng-click="sign()">Signer</button>
					</div>
				</form>
            </div>
        </div>
    </div>
    
</div>

