<div class="login-container">

  <form novalidate (ngSubmit)="onLogin()">

    <div class="form-container">      
      <mat-form-field class="full-width">
        <input matInput placeholder="{{'login.username.placeholder' | translate}}"  [(ngModel)]="username" name="username">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="{{'login.password.placeholder' | translate}}" [(ngModel)]="password" name="password">
      </mat-form-field>

      <mat-checkbox [(ngModel)]="rememberme" name="rememberme">{{'login.rememberme.label' | translate}}</mat-checkbox>

    </div>

    <div class="form-footer">
      <submit-button [i18n]="'login.connect.button'"></submit-button>

      <mat-progress-bar mode="indeterminate" *ngIf="status=='wait'" ></mat-progress-bar>
    </div>

  </form>

</div>