.wod-card {
    margin: 20px;
}

button.add{
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.mat-line{
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
}
.mat-list-item{
    height:initial!important;
}