
<mat-accordion>
  <mat-expansion-panel *ngFor="let wod of wods" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
          {{'wod.category.' + wod.category | translate}}
          {{wod.name}}
      </mat-panel-title>
      <mat-panel-description>
          {{'wod.score.' + wod.score | translate}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p style="white-space: pre;">{{wod.description}}</p>

    <mat-action-row>
        <a *ngIf="wod.publications.length > 0" [routerLink]="[wod.id, 'detail']">
          <button mat-button >
            <mat-icon aria-label="{{'wod.score.button.label' | translate}">arrow_forward</mat-icon>
          </button>
        </a>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<a routerLink="/wod/new">
  <button class="add" mat-fab color="primary">
    <mat-icon aria-label="{{'wod.add.button.label' | translate}">add</mat-icon>
  </button>
</a>