
<mat-card class="wod-card" *ngFor="let wod of wods">
  <mat-card-header>
    <mat-card-title>Wod du jour</mat-card-title>
    <mat-card-subtitle>{{'wod.score.' + wod.score | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p style="white-space: pre;">{{wod.description}}</p>
  </mat-card-content>
  <mat-card-actions>
      <a [routerLink]="[wod.id, 'edit']">
        <button mat-button >
          <mat-icon aria-label="{{'wod.edit.button.label' | translate}">edit</mat-icon>
        </button>
      </a>
      <a *ngFor="let pub of wod.publications"  [routerLink]="[wod.id, 'myscore', pub.date]" >
        <button mat-button >
          <mat-icon aria-label="{{'wod.myscore.button.label' | translate}">timer</mat-icon>
        </button>
      </a>
  </mat-card-actions>
</mat-card>

<a routerLink="/wod/new">
  <button class="add" mat-fab color="primary">
    <mat-icon aria-label="{{'wod.add.button.label' | translate}">add</mat-icon>
  </button>
</a>