<nav class="navbar ng-scope" role="navigation" ng-switch="isAuthenticated()">
	<ul class="nav navbar-nav">
		<li ng-class="{active: $state.includes('config')}"  has-any-role="ROLE_ADMIN">
			<a ui-sref="config"> 
				<span>{{'global.menu.config'|translate}}</span>
			</a>
		</li>
		<li ng-class="{active: $state.includes('sql')}"  has-any-role="ROLE_ADMIN">
			<a ui-sref="sql"> 
				<span>{{'global.menu.sql'|translate}}</span>
			</a>
		</li>
		<li ng-class="{active: $state.includes('version')}"  has-any-role="ROLE_ADMIN">
			<a ui-sref="version"> 
				<span>{{'global.menu.version'|translate}}</span>
			</a>
		</li>
	</ul>
</nav>


<form name="form" role="form" novalidate ng-submit="update()">

	<div class="modal-header">
		<h4 class="modal-title" id="myMemberLabel"
			translate="crossfitApp.config.home.title">Configuration</h4>
	</div>
	
	<div class="modal-body">	
		<div class="row">
			<div class="col-md-12">
               	<jh-alert-error></jh-alert-error>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
		        <div class="form-group">
		            <label translate="crossfitApp.config.name" for="field_name">Name</label>
		            <input type="text" class="form-control" name="name" id="field_name" ng-model="box.name">
		        </div>
		        <div class="form-group">
		            <label translate="crossfitApp.config.billname" for="field_name">Bill Name</label>
		            <input type="text" class="form-control" name="billname" id="field_billname" ng-model="box.billName">
		        </div>		        
		        <div class="form-group">
		            <label translate="crossfitApp.config.billAddress" for="field_billAddress">billAddress</label>
		            <textarea class="form-control" name="billAddress" id="field_billAddress" ng-model="box.billAddress"></textarea>
		        </div>		 
		        <div class="form-group">
		            <label translate="crossfitApp.config.billlogoUrl" for="field_billlogoUrl">billlogoUrl</label>
		            <input type="text" class="form-control" name="billlogoUrl" id="field_billlogoUrl" ng-model="box.billLogoUrl">
		        </div>		        
		        <div class="form-group">
		            <label translate="crossfitApp.config.billFooter" for="field_billFooter">Footer</label>
		            <textarea class="form-control" name="billFooter" id="field_billFooter" ng-model="box.billFooter"></textarea>
		        </div>   
		        
		        <div class="form-group">
		            <label translate="crossfitApp.config.websitepattern" for="field_websitepattern">websitepattern</label>
		            <input type="text" class="form-control" name="websitepattern" id="field_websitepattern" ng-model="box.websitepattern">
		        </div>
		        
		        <div class="form-group">
		            <label translate="crossfitApp.config.adminwebsite" for="field_adminwebsite">adminwebsite</label>
		            <input type="text" class="form-control" name="adminwebsite" id="field_adminwebsite" ng-model="box.adminwebsite">
		        </div>
		        
		        <div class="form-group">
		            <label translate="crossfitApp.config.bookingwebsite" for="field_bookingwebsite">bookingwebsite</label>
		            <input type="text" class="form-control" name="bookingwebsite" id="field_bookingwebsite" ng-model="box.bookingwebsite">
		        </div>
		        
		        <div class="form-group">
		            <label translate="crossfitApp.config.rootwebsite" for="field_rootwebsite">rootwebsite</label>
		            <input type="text" class="form-control" name="rootwebsite" id="field_rootwebsite" ng-model="box.rootwebsite">
		        </div>
        	</div>
        	
        	
			<div class="col-md-6">
				<div class="form-group">
					<label translate="crossfitApp.config.emailFrom" for="field_emailFrom">emailFrom</label>
					<input type="text" class="form-control" name="emailFrom" id="field_emailFrom" ng-model="box.emailFrom">
				</div>
				<div class="form-group">
					<label translate="crossfitApp.config.toEmailContract" for="field_toEmailContract">toEmailContract</label>
					<input type="email" class="form-control" name="toEmailContract" id="field_toEmailContract" ng-model="box.toEmailContract">
				</div>
				<div class="form-group">
					<label translate="crossfitApp.config.toEmailMandate" for="field_toEmailMandate">toEmailMandate</label>
					<input type="email" class="form-control" name="toEmailMandate" id="field_toEmailMandate" ng-model="box.toEmailMandate">
				</div>
				<div class="form-group">
					<label translate="crossfitApp.config.defautICS" for="field_defautICS">defautICS</label>
					<input type="text" class="form-control" name="defautICS" id="field_defautICS" ng-model="box.defautICS">
				</div>						   
		        <div class="form-group">
		            <label class="checkbox"></label>
		       			<input type="checkbox"
						    name="mandateMandatory"
						    ng-model="box.mandateMandatory" >
							{{ 'crossfitApp.config.mandateMandatory' | translate }}
		        </div>	
				<div class="form-group">
					<label translate="crossfitApp.config.jsonMandate" for="field_jsonMandate">jsonMandate</label>
					<textarea class="form-control" name="jsonMandate" id="field_jsonMandate" ng-model="box.jsonMandate" style="height: 100px;"></textarea>
				</div>
		        <div class="form-group">
		            <label translate="crossfitApp.config.logoUrl" for="field_logoUrl">logoUrl</label>
		            <input type="text" class="form-control" name="logoUrl" id="field_logoUrl" ng-model="box.logoUrl">
		        </div>		   
		        <div class="form-group">
		            <label class="checkbox">
					</label>
		       			<input type="checkbox"
						    name="socialEnabled"
						    ng-model="box.socialEnabled" >
							{{ 'crossfitApp.config.socialEnabled' | translate }}
		        </div>		   
		        <div class="form-group">
		            <label translate="crossfitApp.config.alertWhenMedicalCertificateExpiresInDays" for="field_alertWhenMedicalCertificateExpiresInDays">alertWhenMedicalCertificateExpiresInDays</label>
	       			<input type="text" class="form-control" name="alertWhenMedicalCertificateExpiresInDays" id="field_alertWhenMedicalCertificateExpiresInDays" ng-model="box.alertWhenMedicalCertificateExpiresInDays">
		            
		        </div>	
		        <div class="form-group">
		            <label translate="crossfitApp.config.redirectToRules" for="field_logoUrl">logoUrl</label>
		            <textarea class="form-control" name="redirectToRules" id="field_redirectToRules" ng-model="box.redirectToRules"></textarea>
		            <p translate="crossfitApp.config.redirectToRules.description">Description</p>
		        </div>		        
        	</div>
        </div>
        
    </div>

	<div class="modal-footer">
		<button type="submit"
			ng-disabled="form.$invalid"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				translate="entity.action.save">Save</span>
		</button>
	</div>
</form>



<form name="form" role="formcontract" novalidate>

	<div class="modal-header">
		<h4 class="modal-title" id="">
			Modèle de contrat

			<a ng-click="addContractModel()">
				<span class="glyphicon glyphicon-plus" title="Ajouter un modèle de contrat"></span>
			</a>
		</h4>

	</div>

	<div class="modal-body">
		<div class="row" ng-repeat="m in contractModels">
			<div class="col-xs-12">
				<jh-alert-error></jh-alert-error>
			</div>
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 col-sm-3 form-group">
						<label for="field_id">ID</label>
						<input type="text" class="form-control" readonly disabled name="id" id="field_id" ng-model="m.id">
					</div>
					<div class="col-xs-12 col-sm-3 form-group">
						<label for="field_VersionData">Nom version modèle</label>
						<input type="text" class="form-control" name="VersionData" id="field_VersionData" ng-model="m.versionData" required>
					</div>
					<div class="col-xs-12 col-sm-3 form-group">
						<label>Version Format</label>
						<select class="form-control" required ng-model="m.versionFormat">
							<option ng-repeat="v in versionFormats" value="{{v}}">{{v}}</option>
						</select>
					</div>
					<div class="col-xs-12 col-sm-3 form-group">
						<label>Actions</label>
						<button type="submit" ng-disabled="formcontract.$invalid"
								ng-click="saveContractModel(m)" class="btn btn-primary form-control">
							<span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
						</button>
					</div>

					<div class="col-xs-12">
						<label for="field_jsonValue">JSON</label>
						<textarea class="form-control" name="jsonValue" id="field_jsonValue" ng-model="m.jsonValue" style="height: 400px;"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
			</div>
		</div>
	</div>
</form>
