
<form name="form" role="form" novalidate ng-submit="save()" show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="clear()">&times;</button>
		<h4 class="modal-title" id="myMembershipLabel"
			translate="crossfitApp.membership.home.createOrEditLabel">Create or
			edit a Membership</h4>
	</div>
	
	<div class="modal-body">
		<jh-alert-error></jh-alert-error>
		<div class="form-group">
			<label for="id" translate="global.field.id">ID</label> <input
				type="text" class="form-control" id="id" name="id"
				ng-model="membership.id" readonly>
		</div>
		
		
		<div class="row ">
		  <div class="col-xs-12">
		    <div class="row form-group">
		  		<div class="col-xs-12">
			    	<div class="row"> 
				        <div class="col-xs-6">			
				        	<div class="form-group">            
								<input type="text" class="form-control" id="name" name="name"
									placeholder="{{'crossfitApp.membership.name.placeholder' | translate}}"
									ng-model="membership.name" ng-maxlength=255 required maxlength="255">
							</div>
				        </div>
				        <div class="col-xs-6 form-inline">
					  		<div class="form-group">
								<label for="nbMonthValidity">Valable</label>
					     		<input type="number" class="form-control" required
					     			name="nbMonthValidity" id="nbMonthValidity" ng-model="membership.nbMonthValidity">
	
								<label for="nbMonthValidity">
									{{ 'crossfitApp.membership.nbMonthValidity' | translate }}</label>
					        </div>
							
				        </div>
			        </div>
			        <div class="row"> 
				        
				        <div class="col-xs-2">	
				        	<div class="form-group">    
						        <input type="text" class="form-control" id="price"
									name="price"
									placeholder="{{'crossfitApp.membership.price.placeholder' | translate}}"
									ng-model="membership.price" ng-maxlength=255
									required maxlength="255">
							</div>		        
						</div>
						
				        <div class="col-xs-10">				        
					  		<div class="form-group">
				        		<label class="checkbox">
					       			<input type="checkbox"
									    name="addByDefault"
									    ng-model="membership.addByDefault" >
									    
									 {{ 'crossfitApp.membership.addByDefault' | translate }}
						       			
					       		</label>
				       		</div>
					       		
			       		</div>
		       		</div>
			    	<div class="row"> 
				        <div class="col-xs-12">
				    	  	<div ng-show="form.name.$invalid">
								<p class="help-block" ng-show="form.name.$error.required"
									translate="crossfitApp.membership.messages.validate.name.required">The name is required.</p>
								<p class="help-block" ng-show="form.name.$error.maxlength"
									translate="crossfitApp.membership.messages.validate.name.maxlength"> The name cannot be longer than 255 characters.</p>
							</div>
				    	
				    	  	<div ng-show="form.price.$invalid">
								<p class="help-block" ng-show="form.price.$error.required"
									translate="crossfitApp.membership.messages.validate.price.required">The price is required.</p>
								<p class="help-block" ng-show="form.price.$error.maxlength"
									translate="crossfitApp.membership.messages.validate.price.maxlength"> The price cannot be longer than 255 characters.</p>
							</div>
				    	
				    	  	<div ng-show="form.nbMonthValidity.$invalid">
								<p class="help-block" ng-show="form.nbMonthValidity.$error.required"
									translate="crossfitApp.membership.messages.validate.nbMonthValidity.required">The nbMonthValidity is required.</p>
							</div>
				    	
				    	
						</div>
					</div>
				</div>
		    </div>				
		    <div class="row form-group">
		  		<div class="col-xs-12">
		  			<div class="panel panel-primary">
						<div class="panel-heading">
		  					Règles 
			  				
			  				<button type="button" class="btn btn-primary" ng-click="addRules()">
								<span class="glyphicon glyphicon-plus"></span>
							</button></div>
						<div class="panel-body">
				        
					    	<div ng-repeat="rule in membership.membershipRules"> 
						    	<div class="panel panel-info">
	  								<div class="panel-body">
							    		<div class="row">
									        <div class="col-xs-9"> 
									        	<div class="row">
									        		<div class="col-xs-5">
											        	<div class="form-group">      
													        <input type="number" class="form-control" id="numberOfSession" name="numberOfSession"
															placeholder="{{'crossfitApp.membershiprules.numberOfSession.placeholder' | translate}}"
															ng-model="rule.numberOfSession" required">
												        </div>
											        </div>
									        		<div class="col-xs-7">
											          	<div class="form-group">
													         <select class="form-control" name="type" ng-model="rule.type" id="field_type" required>
																<option value="SUM" translate="crossfitApp.membershiprules.type.SUM">Au Total</option>
																<option value="SUM_PER_WEEK" translate="crossfitApp.membershiprules.type.SUM_PER_WEEK">Par semaine</option>
																<option value="SUM_PER_4_WEEKS" translate="crossfitApp.membershiprules.type.SUM_PER_4_WEEKS">Par 4 semaines</option>
																<option value="SUM_PER_MONTH" translate="crossfitApp.membershiprules.type.SUM_PER_MONTH">Par mois</option>
															</select>
														</div>
											        </div>
												</div>
												
												
												<div class="row">
											        <div class="col-xs-12 form-horizontal">
												        <div class="form-group">
												            <label for="field_nbMaxBooking" class="col-sm-10 control-label">{{ 'crossfitApp.membership.nbMaxBooking' | translate:{nbMaxBooking: rule.nbMaxBooking} }}</label>
												           	<div class="col-sm-2">
												            	<input type="number" class="form-control" name="nbMaxBooking" id="field_nbMaxBooking" ng-model="rule.nbMaxBooking">
												            </div>
												        </div>	        
												        <div class="form-group">
												            <label for="field_nbMaxDayBooking" class="col-sm-10 control-label">{{ 'crossfitApp.membership.nbMaxDayBooking' | translate:{nbMaxDayBooking: rule.nbMaxDayBooking} }}</label>
												            <div class="col-sm-2">
												            	<input type="number" class="form-control" name="nbMaxDayBooking" id="field_nbMaxDayBooking" ng-model="rule.nbMaxDayBooking">
												        	</div>
												        </div>		   
											       
												        <div class="form-group">
												            <label for="field_nbHoursAtLeastToBook" class="col-sm-10 control-label">{{ 'crossfitApp.membership.nbHoursAtLeastToBook' | translate:{nbHoursAtLeastToBook: rule.nbHoursAtLeastToBook} }}</label>
												            <div class="col-sm-2">
												            	<input type="number" class="form-control" name="nbHoursAtLeastToBook" id="field_nbHoursAtLeastToBook" ng-model="rule.nbHoursAtLeastToBook">
												        	</div>
												        </div>        
												        <div class="form-group">
												            <label for="field_nbHoursAtLeastToCancel" class="col-sm-10 control-label">{{ 'crossfitApp.membership.nbHoursAtLeastToCancel' | translate:{nbHoursAtLeastToCancel: rule.nbHoursAtLeastToCancel} }}</label>
												            <div class="col-sm-2">
												            	<input type="number" class="form-control" name="nbHoursAtLeastToCancel" id="field_nbHoursAtLeastToCancel" ng-model="rule.nbHoursAtLeastToCancel">
												        	</div>
												        </div>
											        </div>
												
												</div>
											</div>
									        <div class="col-xs-2">
									       		<label class="checkbox" ng-repeat="timeSlotType in timeSlotTypes">
									       		
									       			<input type="checkbox"
													    name="applyForTimeSlotTypes[]"
													    value="{{timeSlotType.id}}"
													    ng-checked="containsTimeSlotType(rule, timeSlotType)"
													    ng-click="toggleSelection(rule, timeSlotType)"
													  >{{timeSlotType.name}} 
									       			
									       		</label>
									        </div>
									        <div class="col-xs-1">
									        
								  				<button type="button" class="btn btn-danger" ng-click="deleteRulesAtIndex($index)">
													<span class="glyphicon glyphicon-remove"></span>
												</button>
											
									        </div>
										</div>
									</div>
						        </div>
							</div>
						</div>
					</div>		
				</div>
		    </div>				
    	  </div>
		</div>
	</div>
	
	
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
				translate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit"
			ng-disabled="form.$invalid || form.$submitted"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				translate="entity.action.save">Save</span>
		</button>
	</div>
</form>
