/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-container > * {
    width: 100%;
}
.form-footer{
    margin-top: 5px;
    text-align: right;
}

.form-footer mat-progress-bar{
    margin-top: 5px;
}