<div *ngIf="editable && editedResult && mode=='EDIT'" [ngSwitch]="wod.score" style="width: 100%">
          
  <form novalidate (ngSubmit)="submit()">


    <div *ngSwitchCase="'FOR_LOAD'">      
      <mat-form-field >
        <input matInput type="number" placeholder="{{'wod.myscore.totalLoadInKilo.placeholder' | translate}}" 
         [(ngModel)]="editedResult.totalLoadInKilo" name="result.totalLoadInKilo">
      </mat-form-field>
    </div>


    <div *ngSwitchCase="'FOR_TIME'">
        <mat-form-field >
          <input matInput type="number" placeholder="{{'wod.myscore.totalMinute.placeholder' | translate}}" 
           [(ngModel)]="editedResult.totalMinute" name="result.totalMinute">
        </mat-form-field>
        <mat-form-field >
          <input matInput type="number"  placeholder="{{'wod.myscore.totalSecond.placeholder' | translate}}" 
           [(ngModel)]="editedResult.totalSecond" name="result.totalSecond">
        </mat-form-field>
    </div>

    <div *ngSwitchCase="'FOR_ROUNDS_REPS'">
      <mat-form-field>
          <input matInput type="number" placeholder="{{'wod.myscore.totalCompleteRound.placeholder' | translate}}" 
           [(ngModel)]="editedResult.totalCompleteRound" name="result.totalCompleteRound">
      </mat-form-field>
      <mat-form-field >
          <input matInput type="number" placeholder="{{'wod.myscore.totalReps.placeholder' | translate}}" 
           [(ngModel)]="editedResult.totalReps" name="result.totalReps">
      </mat-form-field>
    </div>
    
    <div>
        <mat-button-toggle-group class="category-group" (change)="editedResult.category=$event.value">
          <mat-button-toggle class="category-button" 
            *ngFor="let t of ['RX', 'SCALED']" value="{{t}}" [checked]="t==editedResult.category">
            {{'wod.myscore.category.' + t | translate}}
          </mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="form-footer">
      
      <button mat-raised-button type="button" (click)="delete()" *ngIf="removable && editedResult.id">
        {{'button.delete' | translate}}
      </button>
      <button mat-raised-button type="button" (click)="readMode()">
        {{'button.cancel' | translate}}
      </button>
      <submit-button></submit-button>  
    </div>

  </form>

</div>


<div *ngIf="result && mode=='READ'" [ngSwitch]="wod.score" style="width: 100%">
  <button mat-button mat-icon-button type="button" (click)="editMode()" *ngIf="editable">
    <mat-icon attr.aria-label="{{'result.edit.button.label' | translate}}">edit</mat-icon>
  </button>
  <mat-label>
      {{'wod.myscore.category.' + result.category | translate}} |
  </mat-label>

  <span *ngSwitchCase="'FOR_LOAD'">
    {{result.totalLoadInKilo}} Kg
  </span>

  <span *ngSwitchCase="'FOR_TIME'">
      {{result.totalMinute}}min {{result.totalSecond}}s. 
  </span>

  <span *ngSwitchCase="'FOR_ROUNDS_REPS'">
      {{result.totalCompleteRound}} tours complet.  {{result.totalReps}} reps. 
  </span>
</div>

<div *ngIf="!result && mode=='READ'" [ngSwitch]="wod.score" style="width: 100%">
  <button mat-raised-button type="button" color="accent" (click)="editMode()" *ngIf="editable">
    <mat-icon aria-label="{{'result.add.button.label' | translate}">add</mat-icon>
    <mat-label>Saisissez votre score</mat-label>
  </button>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="status=='wait'"></mat-progress-bar>