<div ng-cloak>
	<div  class="row">
		<div class="col-lg-6 col-lg-offset-3" >
			
   			<div class="input-group">
				
	         	<select class="form-control selectpicker" name="type" ng-model="currentResource"
		        	ng-options="r.name for r in availableResources track by r.id" ng-change="refreshSelectResource(currentResource)" id="field_member" required>
				</select>
				
   				<span class="input-group-btn">
					<button class="btn btn-default" ng-click="prepareRent()">
						<span class="glyphicon glyphicon-plus" title="Réserver"></span>			
					</button>	
				</span>
			</div>
			
		</div>
	</div>
	<div  class="row">
		<div class="col-lg-12">
			<div ui-calendar="uiConfig.calendar" ng-model="eventSources" ></div>
		</div>
	</div>
</div>