<div class="row">
	<div class="col-md-6 col-md-offset-3">
	
		<div class="panel panel-default" style="text-align: center;">
			<div class="panel-heading">
				Réserver {{resourceBooking.resource.name}} <br/>
			</div>
			<div class="panel-body">
				
		
				<div class="btn-group btn-group-vertical" role="group" style="width: 100%">
					<button class="btn btn-default" ng-click="saveResourceBooking()"
						ng-disabled="resourceBooking.id != null">
						<span class="glyphicon glyphicon-ok"></span>
						Réserver
					</button>
					
					<button class="btn btn-default" ng-click="cancelResourceBooking()"
						ng-disabled="resourceBooking.id == null">
						
						<span class="glyphicon glyphicon-remove"></span>
							Annuler ma réservation
					</button>
					
					<button class="btn btn-default" ng-click="goBack()">
						<span class="glyphicon glyphicon-ban-circle"></span>
						Retour
					</button>
				</div>
			</div>
		</div>
	</div>
</div>