

<mat-accordion>
  <mat-expansion-panel *ngFor="let b of bookings; let i = index" [expanded]="currentBookingsDay === b" (opened)="openBookingsDay(b)">
    <mat-expansion-panel-header>
      <mat-panel-title *ngIf="b.bookings.length == 1; else multipleBooking">
        {{b.bookings[0].startAt | date: 'EEE, dd MMMM yyyy \'à\' HH:mm'}} - {{b.bookings[0].title}}
      </mat-panel-title>
      <ng-template #multipleBooking>
        {{b.date | date: 'EEE, dd MMMM yyyy'}} - {{b.bookings.length}} Réservations
      </ng-template>
    </mat-expansion-panel-header>

    
    <mat-progress-bar mode="indeterminate" *ngIf="status=='wait'"></mat-progress-bar>

    <span *ngIf="status=='success' && wods.length==0">
      Aucun wod de publié
    </span>

    <mat-expansion-panel [expanded]="true" hideToggle="true" *ngFor="let wod of wods">
        <h3>
            <mat-icon>{{wod.shareProperties.visibility == 'PUBLIC' ? 'public' : 'security'}}</mat-icon>
            {{wod.name}}
        </h3>
        <p style="white-space: pre;">{{wod.description}}</p>
        
        <app-myresult 
            [wod]="wod" 
            [result]="wod.myresultAtDate" 
            [defaultDate]="currentBookingsDay.date" 
            [editable]="true" 
            [removable]="true"
            (onSaved)="onSaveResult(wod, $event)"
            (onDelete)="onDeleteResult(wod)" ></app-myresult>

            
            <mat-tab-group *ngIf="wod.myresultAtDate">
              <mat-tab label="Classement">
                  <ng-template mat-tab-label>
                    <mat-icon>bar_chart</mat-icon>
                  </ng-template>
                  <app-ranking [wod]="wod" [myresult]="wod.myresultAtDate"></app-ranking>
              </mat-tab>
              <mat-tab label="Classement">
                  <ng-template mat-tab-label>
                      <mat-icon>bar_chart</mat-icon>
                      <mat-icon>people</mat-icon>
                  </ng-template>
                  <app-ranking [wod]="wod" [myresult]="wod.myresultAtDate" [mode]="'COMPATE_TO_ALL'"></app-ranking>
              </mat-tab>
          </mat-tab-group>
    </mat-expansion-panel>

  
  </mat-expansion-panel>
</mat-accordion>