
<div class="row">
	<div class="col-xs-10 col-xs-offset-1">	

		<div class="row">
			<div class="col-xs-12">	
		         <div class="form-group pull-right">
					<a href="#" ui-sref="membership.new"> <span
									class="glyphicon glyphicon-flash"></span> <span
									translate="crossfitApp.membership.home.createLabel">Create a
										new Membership</span>
					</a>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
			   	<jh-alert></jh-alert>
		    </div>
		</div>
		
		
		<div class="modal fade" id="deleteMembershipConfirmation">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <form name="deleteForm" ng-submit="confirmDelete(membership.id)">
	                    <div class="modal-header">
	                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
	                                ng-click="clear()">&times;</button>
	                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
	                    </div>
	                    <div class="modal-body">
	               			<jh-alert-error></jh-alert-error>
	                        <p translate="crossfitApp.membership.delete.question" translate-values="{id: '{{membership.id}}'}">Are you sure you want to delete this Member?</p>
	                    </div>
	                    <div class="modal-footer">
	                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
	                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
	                        </button>
	                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
	                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
	                        </button>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
		    
		    
	    <div class="table-responsive">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th translate="crossfitApp.membership.name.table">Abonnements</th>
	                    <th translate="crossfitApp.membership.price">Prix</th>
	                    <th></th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="membership in memberships" >
	                    <td><a href="#" ui-sref="membership.edit({id:membership.id})">{{membership.name}}</a></td>
	                    <td>{{membership.price}}</td>
	                    <td  width="30px">
							<a ng-click="delete(membership.id)"> <span
									class="glyphicon glyphicon-remove-circle" style="color:red"></span>
							</a>
	                    
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
</div>
