
<form name="form" role="form" novalidate ng-submit="save()" show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="clear()">&times;</button>
		<h4 class="modal-title" id="myProductLabel"
			translate="crossfitApp.product.home.createOrEditLabel">Create or
			edit a Product</h4>
	</div>
	
	<div class="modal-body">
		<jh-alert-error></jh-alert-error>
		<div class="form-group">
			<label for="id" translate="global.field.id">ID</label> <input
				type="text" class="form-control" id="id" name="id"
				ng-model="product.id" readonly>
		</div>
		
		
		<div class="row ">
		  <div class="col-xs-12">
		    <div class="row form-group">
		  		<div class="col-xs-12">
			    	<div class="row"> 
				        <div class="col-xs-12">			
				        	<div class="form-group">            
								<input type="text" class="form-control" id="name" name="name"
									placeholder="{{'crossfitApp.product.name.placeholder' | translate}}"
									ng-model="product.name" ng-maxlength=255 required maxlength="255">
							</div>
				        </div>
				    </div>
				    
			    	<div class="row"> 
				        <div class="col-xs-6 form-inline">	
				        	<div class="form-group">    
								<label for="priceTaxIncl">Prix TTC</label>
						        <input type="number" class="form-control" id="priceTaxIncl"
									name="priceTaxIncl"
									placeholder="{{'crossfitApp.product.priceTaxIncl.placeholder' | translate}}"
									ng-model="product.priceTaxIncl" ng-maxlength=12
									required>
							</div>		        
						</div>
				        <div class="col-xs-6 form-inline">	
				        	<div class="form-group">    
								<label for="taxPerCent">TVA (%)</label>
						        <input type="number" class="form-control" id="taxPerCent"
									name="taxPerCent"
									placeholder="{{'crossfitApp.product.taxPerCent.placeholder' | translate}}"
									ng-model="product.taxPerCent" ng-maxlength=12
									required>
							</div>		        
						</div>
			        </div>

			    	<div class="row"> 
				        <div class="col-xs-12">
				    	  	<div ng-show="form.name.$invalid">
								<p class="help-block" ng-show="form.name.$error.required"
									translate="crossfitApp.product.messages.validate.name.required">The name is required.</p>
								<p class="help-block" ng-show="form.name.$error.maxlength"
									translate="crossfitApp.product.messages.validate.name.maxlength"> The name cannot be longer than 255 characters.</p>
							</div>
				    	
				    	  	<div ng-show="form.priceTaxIncl.$invalid">
								<p class="help-block" ng-show="form.priceTaxIncl.$error.required"
									translate="crossfitApp.product.messages.validate.priceTaxIncl.required">The price is required.</p>
								<p class="help-block" ng-show="form.priceTaxIncl.$error.maxlength"
									translate="crossfitApp.product.messages.validate.priceTaxIncl.maxlength"> The price cannot be longer than 255 characters.</p>
							</div>
				    	
				    	  	<div ng-show="form.taxPerCent.$invalid">
								<p class="help-block" ng-show="form.taxPerCent.$error.required"
									translate="crossfitApp.product.messages.validate.taxPerCent.required">The price is required.</p>
								<p class="help-block" ng-show="form.taxPerCent.$error.maxlength"
									translate="crossfitApp.product.messages.validate.taxPerCent.maxlength"> The price cannot be longer than 255 characters.</p>
							</div>
				    					    	
						</div>
					</div>
				</div>
		    </div>				
    	  </div>
		</div>
	</div>
	
	
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
				translate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit"
			ng-disabled="form.$invalid || form.$submitted"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				translate="entity.action.save">Save</span>
		</button>
	</div>
</form>
