<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div ng-switch="isAuthenticated()">

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated">
                    If you want to <a href="#/login">authenticate</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>
                
                
                <div class="planning" ng-switch-when="true">
                	<div class="alert alert-warning"  ng-if="planning.length == 0" translate="main.planning.no.timeslot">
                	</div>
                	<div class="row">
						<div class="col-lg-12">
						   	<jh-alert></jh-alert>
					    </div>
					</div>
					
					<div class="panel with-nav-tabs panel-default">
                		<div class="panel-heading">
		                	<ul class="nav nav-tabs">
							  <li role="presentation">
							  		<a href="#" ng-click="prev()"><</a>
							  </li>
							  <li role="presentation" ng-class="{'active': $index==selectedIndex}" ng-repeat="day in planning">
							  		<a href="#" ng-click="select($index)">{{day.date | date:'EEE dd MMM'}}</a>
							  </li>
							  <li role="presentation">
							  		<a href="#" ng-click="next()">></a>
							  </li>
							</ul>
						</div>
						<div class="panel-body">
                    		<div class="tab-content">
								<div class="row">
			        				<div class="col-md-12">
										<div class="row" ng-repeat="interval in planning[selectedIndex].slotsByInterval">
					        				<div class="col-md-12">
												<div class="row">
													<div class="{{'col-md-' +  (12 / interval.slots.length) }}" ng-repeat="slot in interval.slots">
														
														<div class="panel panel-default">
														  <div ng-class="calculateCssClass(slot)" class="panel-heading">
														  	<div class="row">
															  	<div class="col-xs-9"> 
																	<h5>
																		<a ui-sref="timeSlot.edit({id:slot.id})">
																			{{slot.start | date:'HH:mm'}} - {{slot.end | date:'HH:mm'}} | 
																			{{slot.bookings.length}}/{{slot.maxAttendees}} inscrits {{slot.waitingBookings.length > 0 ? ' (+' + slot.waitingBookings.length + ')' : ''}} |
																			{{slot.timeSlotType.name}} 
																			  
																		</a>
																	</h5>
																</div>
																<div class="col-xs-3">
																	<button class="btn btn-sm btn-default pull-right" ng-click="showQuickAddBooking(slot)"><span class="glyphicon glyphicon-plus"></span></button>
																	<div class="clearfix"></div>
																</div>
															</div>
														  </div>														
														  	<ul class="list-group">
																<li class="list-group-item three-points-overflow" ng-repeat="booking in slot.bookings">
																	<button ng-click="quickDeleteBooking(booking)" class="btn btn-xs btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span></button>
																	{{booking.title}}
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                </div>
            </div>
        </div>
    </div>
    
    
   	<div class="modal fade" id="quickAddBooking">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="lockForm" ng-submit="quickAddBooking()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="main.quickbooking.title">Confirm Quick Add operation</h4>
                    </div>
                    <div class="modal-body">
                    	<jh-alert-error></jh-alert-error>
                    
                        <p>Ajouter une réservation pour la séance "{{quickbookingSlot.timeSlotType.name}}"
                         du {{quickbooking.date | date:'EEEE dd/MM'}} 
                         de {{quickbookingSlot.start | date:'HH:mm'}} à {{quickbookingSlot.end | date:'HH:mm'}}</p>
                        
                         <div class="form-group">								
						    <div class="input-group">
						      <input type="text" id="like" name="like" ng-model="quickbookingLike" ng-change="searchSubscriptionForQuickBooking()"
						      	class="form-control" placeholder="Rechercher un utilisateur..." autocomplete="false" autofocus="autofocus">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="button" ng-click="searchSubscriptionForQuickBooking()">Go!</button>
						      </span>
						    </div>
						</div>
                         <div class="form-group">						       
					        <div class="radio" ng-repeat="s in quickbookingSubscriptions">
					       		<label >
					       			<input type="radio" name="selectSubscription"
									    value="{{s.id}}"
									    ng-click="selectSubscriptionForQuickBooking(s)">{{s.member.firstName}} {{s.member.lastName}} - {{s.membership.name}}
					       		</label>
				       		</div>
				       		
				       		<p ng-if="quickbookingSubscriptions.length == 0">Aucun résultat</p>
       					</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="main.quickbooking.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="lockForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-add"></span>&nbsp;<span translate="main.quickbooking.action.add">Add</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
