
@import '~@angular/material/theming';

@include mat-core();

.my-rank{
    $app-primary: mat-palette($mat-indigo);
    $app-accent:  mat-palette($mat-pink, A200, A100, A400);    
    $app-theme: mat-light-theme($app-primary, $app-accent);

    background-color:mat-color(map-get($app-theme, accent));
}

table{
    width: 100%;
}