<div
  class="app-container" 
  [class.is-mobile]="mobileQuery.matches" 
  [class.is-mobile-portrait]="mobileQueryPortrait.matches" >
  <app-toolbar #toolbar (toggleSideNav)="toggle()"></app-toolbar>

  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav  #sidenav *appAuthenticated="true"(click)="mobileQuery.matches && sidenav.close()"
    (closedStart)="toolbar.sideNavChange(false)"
    (openedStart)="toolbar.sideNavChange(true)"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [disableClose]="!mobileQuery.matches"
      [opened]="!mobileQuery.matches"
      [fixedInViewport]="true" 
      fixedTopGap="56">
      <mat-nav-list>
          <a mat-list-item routerLink="activity">{{ 'app.menu.activity' | translate }}</a>
          <a mat-list-item routerLink="wod/calendar" *appHasAnyRole="'ROLE_COACH'" routerLinkActive="active">{{ 'app.menu.wod.planning' | translate }}</a>
          <a mat-list-item routerLink="wod/search" *appHasAnyRole="'ROLE_COACH'" routerLinkActive="active">{{ 'app.menu.wod.search' | translate }}</a>
          <a mat-list-item routerLink="logout" routerLinkActive="active">{{ 'app.menu.logout' | translate }}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">

      <div class="app-content">
        <router-outlet></router-outlet>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>