<table>
  <thead>
    <tr>
      <th *ngFor="let day of days">
        <span class="day" [ngClass]="{'active':day.date.isSame(now, 'd')}">{{day.date.date()}}</span>
        <span class="long">{{day.date.format('dddd')}}</span>
        <span class="short">{{day.date.format('ddd')}}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let day of days">

        
        <button class="day-action-menu" mat-icon-button (click)="addEvent(day.date)" *ngIf="onAddEvent.observers.length!=0">
          <mat-icon>add</mat-icon>
        </button>

        <mat-card *ngFor="let event of day.events" (click)="editEvent(event)">
          <mat-card-title>{{event.title}}</mat-card-title>
          <mat-card-content>{{event.detail}}</mat-card-content>
        </mat-card>
      </td>
    </tr>
  </tbody>
</table>