
body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    
    font-size: 14px;
}


.footer {
	display: none;
}

.navbar{
	display: none;
}

.modal{
	display: none;
}

#page-wrapper{
	margin-top: 0 !important;
	padding: 0 0;
}
.word-container{
	background-color: #FFF;
}

.word-doc{
	width: auto;
	border-radius: none;
	box-shadow: none;
	background-color: #FFF;
	margin: 0px;
}
.word-doc .paragraphe{
	padding: 0 10px;
	text-align: justify;
}

.no-page-break{
    page-break-inside: avoid;
}

.word-doc .dotted{
	/*border-bottom: none;*/
}

.word-doc .title{
    background-color: #57718a;
}
