<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-switch="isAuthenticated()">
	<ul class="nav navbar-nav navbar-right">


		<li ng-class="{active: $state.includes('member.new')}"  has-any-role="ROLE_MANAGER,ROLE_ADMIN"
			ng-switch-when="true">
			<a ui-sref="member.new">
				 <span class="glyphicon glyphicon-flash"
				title="{{'global.menu.config'|translate}}"></span>
			</a></li>

		<li ng-class="{active: $state.includes('membership')}"  has-any-role="ROLE_MANAGER,ROLE_ADMIN"
			ng-switch-when="true"><a ui-sref="membership"> <span
				class="glyphicon glyphicon-calendar"
				title="{{'global.menu.memberships'|translate}}"></span>
		</a></li>
		
		<li ng-class="{active: $state.includes('timeSlotType')}"  has-any-role="ROLE_MANAGER,ROLE_ADMIN"
			ng-switch-when="true"><a ui-sref="timeSlotType"> <span
				class="glyphicon glyphicon-list"
				title="{{'global.menu.timeslottype'|translate}}"></span>
		</a></li>

		<li ng-class="{active: $state.includes('config')}"  has-any-role="ROLE_ADMIN"
			ng-switch-when="true"><a ui-sref="config"> <span
				class="glyphicon glyphicon-cog"
				title="{{'global.menu.config'|translate}}"></span>
			</a></li>
		<li ng-class="{active: $state.includes('account')}"><a
			ui-sref="account.edit"> <span class="glyphicon glyphicon-user"
				ui-sref-active="active" ng-switch-when="true"
				title="{{account.firstName}} {{account.lastName}}"><!-- {{account.firstName | limitTo: 8}} --> </span>
		</a></li>

		<li ui-sref-active="active" ng-switch-when="true"><a href=""
			ng-click="logout()"> <span class="glyphicon glyphicon-log-out"
				title="{{'global.menu.account.logout'|translate}}"></span>
		</a></li>
	</ul>
	
	
	
	
	
	<ul class="nav navbar-nav navbar-left">
		<li ng-class="{active: $state.includes('home')}">
			<a ui-sref="home"> <span class="glyphicon glyphicon-home"
				title="{{'global.menu.home'|translate}}"></span>
		</a>
		</li>
		
		<li ng-class="{active: $state.includes('planning','planning.detail')}" ng-switch-when="true">
			<a ui-sref="planningToDay"> <span class="glyphicon glyphicon-calendar" as-any-role="ROLE_USER"
				title="{{'global.menu.planning'|translate}}"></span>
		</a>
		</li>
		
		
		<li ng-class="{active: $state.includes('members')}" has-any-role="ROLE_MANAGER,ROLE_ADMIN"
			ng-switch-when="true"><a ui-sref="member"> <span
				class="glyphicon glyphicon-user"
				title="{{'global.menu.members'|translate}}"></span>
		</a></li>

		<li ng-class="{active: $state.includes('timeSlot')}"  has-any-role="ROLE_MANAGER,ROLE_ADMIN"
			ng-switch-when="true"><a ui-sref="timeSlot"> <span
				class="glyphicon glyphicon-time"
				title="{{'global.menu.timeslots'|translate}}"></span>
		</a></li>
		
		<li ng-class="{active: $state.includes('booking')}"  has-any-role="ROLE_USER"
			ng-switch-when="true"><a ui-sref="booking"> <span
				class="glyphicon glyphicon-time"
				title="{{'global.menu.bookings'|translate}}"></span>
		</a></li>

	</ul>
</nav>
