<nav class="navbar navbar-inverse navbar-fixed-top navbar-cf-nancy" role="navigation" ng-switch="isAuthenticated()">
	<ul class="nav navbar-nav navbar-right">


		<li ng-class="{active: $state.includes('member.new')}"  has-any-role="ROLE_MANAGER,ROLE_ADMIN"
			ng-switch-when="true">
			<a ui-sref="member.new">
				 <span class="glyphicon glyphicon-plus"
				title="{{'global.menu.members.new'|translate}}"></span>
			</a></li>
			
		<li ng-class="{active: $state.includes('member')}" has-any-role="ROLE_MANAGER,ROLE_ADMIN"
			ng-switch-when="true"><a ui-sref="member"> <span
				class="glyphicon glyphicon-search"
				title="{{'global.menu.members'|translate}}"></span>
		</a></li>
		
		<li ng-class="{active: $state.includes('bill')}" has-any-role="ROLE_COMPTABLE,ROLE_ADMIN"
			ng-switch-when="true"><a ui-sref="bill"> <span
				class="glyphicon glyphicon-euro"
				title="{{'global.menu.bills'|translate}}"></span>
		</a></li>

		<li ng-class="{active: $state.includes('product') || $state.includes('closedDays') || $state.includes('timeSlot') || $state.includes('timeSlotType') || $state.includes('membership')}"  has-any-role="ROLE_MANAGER,ROLE_DIRECTOR,ROLE_ADMIN"
			ng-switch-when="true"><a ui-sref="product"> <span
				class="glyphicon glyphicon-cog"
				title="{{'global.menu.liste'|translate}}"></span>
		</a></li>

		<li ng-class="{active: $state.includes('account')}"  has-any-role="ROLE_USER,ROLE_MANAGER,ROLE_ADMIN"
		 ng-switch-when="true" >
			 <a ui-sref="account.edit"> 
			 	<span class="glyphicon glyphicon-user"
					ui-sref-active="active"
					title="{{account.firstName}} {{account.lastName}}">
					<!-- {{account.firstName | limitTo: 8}} --> 
				</span>
			</a>
		</li>
		<li class="last-booking" has-any-role="ROLE_MANAGER,ROLE_ADMIN" ng-switch-when="true">
			 <a ng-class="{'new-event': newEventCount() > 0}" href="" ng-click="displayLastEvent()"
			 	class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
			 	<span class="glyphicon glyphicon-bell ws-{{statusWS}}"
					title="{{wsMessage}}"></span>
				<span class="badge">{{newEventCountToDisplay()}}</span>
				
			</a>
			<ul class="dropdown-menu">
				<li ng-show="events.length == 0 && statusWS != 'ERROR'">
			       	<a href="">Encore aucune inscription aujourd'hui</a>					
				</li>
				<li ng-repeat="event in events">
			       	<a href="" ng-class="{'alert-info': event.eventDate > previousCheckEventDate}">
			       		{{event.eventDate | date:"HH:mm:ss"}} - 
			       		{{ event.eventType == 'CREATED' ? 'Inscription' : event.eventType == 'DELETED' ? 'Désinscription' : event.eventType}} 
			       		de {{event.bookingOwnerDisplayName}}
			       		pour la séance de {{event.bookingStartDate | date:"HH:mm"}}
			       		{{ event.userLogin != event.bookingOwnerLogin ? '(Par '+event.userDisplayName+')' : '' }}
		       		</a>
				</li>
			</ul>
		</li>

		<li ui-sref-active="active" ng-switch-when="true"><a href=""
			ng-click="logout()"> <span class="glyphicon glyphicon-log-out"
				title="{{'global.menu.account.logout'|translate}}"></span>
		</a></li>
	</ul>
	
	
	
	
	
	<ul class="nav navbar-nav navbar-left">
		<li ng-class="{active: $state.includes('home')}">
			<a ui-sref="home" ui-sref-opts="{reload: true}"> <span class="glyphicon glyphicon-home"
				title="{{'global.menu.home'|translate}}"></span>
		</a>
		</li>
		
		<li ng-class="{active: $state.includes('planning','planning.detail')}" ng-switch-when="true">
			<a ui-sref="planningToDay"> <span class="glyphicon glyphicon-calendar" has-any-role="ROLE_USER,ROLE_MANAGER,ROLE_ADMIN"
				title="{{'global.menu.planning'|translate}}"></span>
		</a>
		</li>
		
		<li ng-class="{active: $state.includes('booking')}"  has-any-role="ROLE_USER,ROLE_MANAGER,ROLE_ADMIN"
			ng-switch-when="true"><a ui-sref="booking"> <span
				class="glyphicon glyphicon-time"
				title="{{'global.menu.bookings'|translate}}"></span>
		</a></li>
		
		<li ng-class="{active: $state.includes('planning-resources')}"  has-any-role="ROLE_RENTER"
			ng-switch-when="true"><a ui-sref="planningResourcesToDay"> <span
				class="glyphicon glyphicon-bed"
				title="{{'global.menu.planning.resources'|translate}}"></span>
		</a></li>
		

	</ul>
</nav>
