
<form name="form" role="form" novalidate ng-submit="save()" class="bill">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="clear()">&times;</button>
		<h4 class="modal-title" id="myBillLabel"
			translate="{{'crossfitApp.bill.home.' + (bill.id == null ? 'add' : 'showBill') }}">Display a bill</h4>
	</div>
	
	<div class="modal-body">
		<jh-alert-error></jh-alert-error>
		
<!-- 		<nav class="navbar navbar-inverse navbar-cf-nancy ng-scope" role="navigation"> -->
<!-- 			<ul class="nav navbar-nav"> -->
<!-- 				<li ng-class="{active:view=='infoperso'}"> -->
<!-- 					<a ng-click="showView('infoperso')">  -->
<!-- 						<span>{{'crossfitApp.member.infoperso'|translate}}</span> -->
<!-- 					</a> -->
<!-- 				</li> -->
<!-- 			</ul> -->
<!-- 		</nav> -->

		
		
		
		<div class="row" ng-show="view == 'default'">
		  <div class="col-xs-12">
		  
	    	<div class="row form-group" ng-if="bill.id!=null"> 
				<div class="col-xs-6">
					<input
						type="text" class="form-control" id="id" name="id"
						ng-model="bill.id" readonly>
				</div>
				<div class="col-xs-6">
					<input type="text" class="form-control " id="number" name="number"
						ng-model="bill.number" readonly>
				</div>
			</div>
			
	    	<div class="row"> 
				<div class="col-xs-6 ">
					<div class="row form-group">
						<div class="col-xs-12">
							<label>Abonné</label>
							<div class="input-group">
								<input type="text" class="form-control " id="displayName"
									name="displayName" ng-model="bill.displayName" readonly>
								<div class="input-group-btn" ng-if="bill.id==null">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
										<span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> 
									</button>
									<ul class="dropdown-menu pull-right">
										<li>
	                  						<a target="_blank" href ui-sref="member.edit({id:bill.member.id})">
												Modifier l'adresse
											</a>
										</li>
										<li>
	                  						<a href  ng-click="refreshMember()">
												Rafraichir l'adresse
											</a>
										</li>
									</ul>
								</div>
 							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12">
							<textarea class="form-control" id="displayAddress" name="displayAddress" ng-maxlength=255
								ng-model="bill.displayAddress" readonly></textarea>
                  			
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12">
							<label>Commentaires</label>
							<textarea class="form-control" id="comments" name="comments" ng-maxlength=255
								ng-model="bill.comments"></textarea>
                  			
						</div>
					</div>
				</div>
				
				<div class="col-xs-6">
				
					<div class="row form-group">
						<div class="col-xs-6">
							<label>Statut</label>
							  <select class="form-control" id="sel1" ng-model="bill.status" ng-disabled="true">
							    <option ng-repeat="s in status" value="{{s}}">{{'crossfitApp.bill.status.enum.' + s | translate }}</option>
							  </select>
						</div>
						<div class="col-xs-6">
							<label>Moyen paiement</label>
							
							  <select class="form-control" id="sel1" ng-model="bill.paymentMethod" ng-disabled="bill.status!='DRAFT'">
							    <option ng-repeat="p in paymentMethods" value="{{p}}">{{'crossfitApp.bill.paymentMethod.enum.' + p | translate }}</option>
							  </select>
				  
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-6">
							<label style="width: 100%">Date facture</label>
							<input type="text" class="form-control " id="effectiveDate" name="effectiveDate" 
								value="{{bill.effectiveDate | date:'dd/MM/yyyy' }}"  readonly ng-if="bill.status!='DRAFT'">
								
				            <datetimepicker hidden-time="true" ng-if="bill.status=='DRAFT'" required
								ng-model="bill.effectiveDate" how-weeks="false" minute-step="30" show-meridian="false" 
						       	date-format="dd/MM/yyyy" readonly-time="false"></datetimepicker>
								
						</div>
						<div class="col-xs-6">
							<label>Date de paiement</label>
							<input type="text" class="form-control " id="payAtDate" name="payAtDate" 
								value="{{bill.payAtDate | date:'dd/MM/yyyy' }}"  readonly ng-if="bill.status!='DRAFT'">
								
				            <datetimepicker hidden-time="true" ng-if="bill.status=='DRAFT'" required
								ng-model="bill.payAtDate" how-weeks="false" minute-step="30" show-meridian="false" 
						       	date-format="dd/MM/yyyy" readonly-time="false"></datetimepicker>
						</div>
					</div>
					
					<div class="row form-group" ng-if="bill.id!=null">
						<div class="col-xs-12">
							<label>Date création</label>
							<input type="text" class="form-control " id="createdBillDate" name="createdBillDate"
								value="{{bill.createdBillDate | date:'dd/MM/yyyy \'à\' HH:mm:ss' }}" readonly>
						</div>
					</div>
					
				</div>
			</div>
			
			
	    	<div class="row"> 
				<div class="col-xs-12">
				
					<table class="table table-bordered">
						<thead>
							<tr>						
								<th style="width: 10px;">Qte</th>
								<th>Libellé</th>
								<th style="width: 80px; text-align: right;">Prix TTC</th>
								<th style="width: 80px; text-align: right;">TVA</th>
								<th style="width: 90px; text-align: right;">Total TTC</th>
							</tr>
						</thead>
						<tbody ng-if="bill.status!='DRAFT'">
							<tr ng-repeat="line in bill.lines">
								<td>{{line.quantity}}</td>
								<td>{{line.label}}<span ng-if="line.periodStart"> ({{line.periodStart | date:'dd/MM/yyyy' }} au {{line.periodEnd | date:'dd/MM/yyyy' }})</span></td>
								<td style="text-align: right;">{{line.priceTaxIncl | currency:'€' }}</td>
								<td style="text-align: right;">{{line.taxPerCent + '%' }}</td>
								<td style="text-align: right;">{{line.totalTaxIncl | currency:'€' }}</td>
							</tr>
						</tbody>
						
						
						<tbody ng-if="bill.status=='DRAFT'">
							<tr ng-repeat="line in bill.lines" valign="top">
								<td class="form-line">
									<input type="text" style="width: 60px;" class="form-control" ng-model="line.quantity" ng-minlength=1 ng-maxlength=4 required maxlength="4"/>
								</td>
								<td>
								
									<div class="form-group input-group">
									
										<input type="text" class="form-control" ng-model="line.label" ng-minlength=1 ng-maxlength=200 required maxlength="200">
										
									
										<div class="input-group-btn">
											<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu pull-right" style="overflow-y: scroll; height: 200px;">
												<li ng-repeat="p in products">
			                  						<a ng-click="selectElementForBillLine(line, p)">
			                  							{{p.name}} {{p.priceTaxIncl | currency:'€'}}
													</a>
												</li>
          										<li role="separator" class="divider"></li>          										
												<li ng-repeat="s in member.subscriptions">
			                  						<a ng-click="selectSubscriptionForBillLine(line, s)" 
			                  							ng-if="calculateCssClassSubscription(s) == 'actif'"
			                  							ng-class="calculateCssClassSubscription(s)">
			                  							{{s.membership.name}} ({{s.subscriptionStartDate | date:'dd/MM/yyyy'}} au {{s.subscriptionEndDate | date:'dd/MM/yyyy'}}) - {{s.membership.priceTaxIncl | currency:'€'}}
													</a>
												</li>
											</ul>
										</div>
										
									</div>
									<div class="" ng-if="line.subscription">
										Abo n°{{line.subscription.id}} 
										 pour la période du										
										<datetimepicker hidden-time="true" required
											ng-model="line.periodStart" how-weeks="false" minute-step="30" show-meridian="false" 
									       	date-format="dd/MM/yyyy" readonly-time="false"></datetimepicker>
						       	
								       	au
								       	
								       	<datetimepicker hidden-time="true" required
											ng-model="line.periodEnd" how-weeks="false" minute-step="30" show-meridian="false" 
									       	date-format="dd/MM/yyyy" readonly-time="false"></datetimepicker>
								       	
						       	</span>
									
								</td>
								<td class="form-line">
									<input type="text"  style="text-align: right;" class="form-control" ng-model="line.priceTaxIncl" ng-minlength=1 ng-maxlength=10 required maxlength="10">
								</td>
								<td class="form-line">
									<input type="number"  style="text-align: right;" class="form-control" ng-model="line.taxPerCent" ng-minlength=1 ng-maxlength=12 required maxlength="12">
								</td>
								<td style="text-align: right;">
									<label class="control-label">{{calculateTotal(line) | currency:'€' }}</label>
								</td>
							</tr>
						</tbody>
						
						<tfoot ng-if="bill.status!='DRAFT'">
							<tr>
								<th colspan="4" style="text-align: right;">Total:</th>
								<th style="text-align: right;">{{bill.totalTaxIncl | currency:'€'}}</th>
							</tr>
						</tfoot>
						
						<tfoot ng-if="bill.status=='DRAFT'">
							<tr>
								<th colspan="4">

									<button class="btn btn-default pull-left" type="button" ng-click="addLine()">+</button>
										
									<label class="pull-right">Total:</label>
								</th>
								<th style="text-align: right;">{{calculateTotalBill() | currency:'€'}}</th>
							</tr>
						</tfoot>
					</table>
				
				</div>				
			</div>
			
		  </div>
		</div>
		
		
    </div>

	<div class="modal-footer">
	
		<button type="button" ng-if="bill.status=='DRAFT'"
			ng-disabled="form.$invalid"  ng-click="delete()"
			class="btn btn-warning pull-left">
			<span class="glyphicon glyphicon-remove"></span>&nbsp;<span
				translate="entity.action.delete">Delete</span>
		</button>
		<button type="button" ng-if="bill.status=='DRAFT'"
			ng-disabled="form.$invalid"  ng-click="saveAndValidate()"
			class="btn btn-success pull-left">
			<span class="glyphicon glyphicon-ok"></span>&nbsp;<span
				translate="entity.action.saveAndValidate">Save and validate</span>
		</button>
		
		
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
				translate="entity.action.cancel">Cancel</span>
		</button>
		
		<button type="button" class="btn btn-default" ng-if="bill.id!=null" ng-click="print()">
			<span class="glyphicon glyphicon-print"></span>&nbsp;<span
				translate="entity.action.print">Print</span>
		</button>
		
		<button type="submit" ng-if="bill.status=='DRAFT'"
			ng-disabled="form.$invalid"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span
				translate="entity.action.save">Save</span>
		</button>
	</div>
	
</form>
