<div ng-cloak>
	
	<form ng-submit="search()">

		<div class="row">
			<div class="col-lg-12">
			   	<jh-alert></jh-alert>
		    </div>
		</div>
		<div class="row">
			<div class="col-xs-8 col-lg-10">
		 		<div class="form-group">
					<input type="search" ng-model="searchLike" class="form-control" placeholder="Rechercher"/>
				</div>
			</div>
			
			<div class="col-xs-4 col-lg-2">
		        <div class="form-group pull-right" style="margin-left: 5px;">
				    <button type="button" class="btn btn-primary" ng-click="search()">
				        <span translate="entity.action.search">Search</span>
				    </button>
				    
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Action <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu pull-right">
					    <li><a href ng-click="showQuickSelectMember()"translate="crossfitApp.bill.action.new">New bill</a></li>
					    <li><a href ng-click="export()"translate="entity.action.export">Export</a></li>
					    <li><a href ng-click="prepareGenerate()"translate="entity.action.generate">Génération</a></li>
					    <li><a href ng-click="deleteDraft()"translate="crossfitApp.bill.action.delete.draft">Supprimer les brouillons</a></li>
					  </ul>
					</div>
				</div>
			</div>
		</div>
				
		<div class="row">
			<div class="col-xs-8 col-lg-10">
				<!-- >div class="form-group">
				  <label for="sel1">De la période:</label>
				  <select class="form-control" id="sel1">
				  	<option>Choisissez une période</option>
				    <option ng-repeat="period in periods" value="{{period.shortFormat}}">{{period.longFormat}}</option>
				  </select>
				</div-->
			</div>
			<div class="col-xs-4 col-lg-2">
				<div class="form-group pull-right">
					<label class="control-label">{{totalBill}} factures</label>
				</div>
			</div>
		</div>
	</form>		
	
	

    <div class="modal fade" id="generateBillsConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="generateBillsForm" ng-submit="confirmGenerateBillsForm()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="crossfitApp.bill.generate.title">Confirm bills generation</h4>
                    </div>
                    <div class="modal-body form-horizontal">

						<div class="form-group">
    						<label for="genDayOfMonth" class="col-xs-offset-1 col-xs-3 control-label">Au</label>							 
    						<div class="col-xs-2">
								<input id="genDayOfMonth" type="number" ng-model="generate.atDayOfMonth" class="form-control" placeholder="Jour du mois"/>
							</div>
    						<label for="genDayOfMonth" class="col-xs-4 control-label" style="text-align: left;">de chaque mois</label>							 
						 </div>
						 
						<div class="form-group">
    						<label for="genSinceDate" class="col-xs-offset-1 col-xs-3 control-label">Depuis le</label>	
						  									 
    						<div class="col-sm-4">
					            <datetimepicker hidden-time="true" id="genSinceDate"
									ng-model="generate.sinceDate" how-weeks="false" minute-step="30" show-meridian="false" 
							       	date-format="dd/MM/yyyy" readonly-time="false"></datetimepicker>
							</div>
						</div>
						 
						<div class="form-group">
    						<label for="genSinceDate" class="col-xs-offset-1 col-xs-3 control-label">Jusqu'au</label>	
						  									 
    						<div class="col-sm-4">
					            <datetimepicker hidden-time="true" id="genSinceDate"
									ng-model="generate.untilDate" how-weeks="false" minute-step="30" show-meridian="false" 
							       	date-format="dd/MM/yyyy" readonly-time="false"></datetimepicker>
							</div>
						</div>
						
						<div class="form-group">
    						<label for="paymentMethod" class="col-xs-4 control-label">Moyen de paiement </label>	
							
   							<div class="col-xs-6">
							  <select class="form-control" id="paymentMethod" ng-model="generate.paymentMethod">
							    <option ng-repeat="paymentMethod in paymentMethods" value="{{paymentMethod}}"> 
									{{'crossfitApp.bill.paymentMethod.enum.' + paymentMethod | translate }}
								</option>
							  </select>
						 	</div>
					 	</div>
					 	
						
						<div class="form-group">
    						<label for="paymentMethod" class="col-xs-offset-1 col-xs-3 control-label">Statut </label>	
							
   							<div class="col-xs-6">
							  <select class="form-control" id="status" ng-model="generate.status">
							    <option ng-repeat="s in status" value="{{s}}"> 
									{{'crossfitApp.bill.status.enum.' + s | translate }}
								</option>
							  </select>
						 	</div>
					 	</div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="generateBillsForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="crossfitApp.bill.action.generate">Generate</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="deleteDraftConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteDraftForm" ng-submit="confirmDeleteDraft()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="crossfitApp.bill.delete.draft.title">Confirm delete draft</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="crossfitApp.bill.delete.draft.question">Are you sure you want to delete draft bills ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="resetAccountForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="crossfitApp.bill.action.delete.draft">Delete draft</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    


	<div class="modal fade" id="quickSelectMember">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <form name="lockForm" ng-submit="quickSelectMember()">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
	                            ng-click="clearQuick()">&times;</button>
	                    <h4 class="modal-title" translate="crossfitApp.bill.quick.select.member.title">Quick select member operation</h4>
	                </div>
	                <div class="modal-body">
	                	<jh-alert-error></jh-alert-error>
	                     <div class="form-group">
					      <input type="text" id="like" name="like" ng-model="quickMemberLike" ng-change="searchMemberForQuickBill()"
					      	class="form-control" placeholder="Rechercher un adhérent..." autocomplete="false" autofocus="autofocus">
						</div>
	                     <div class="form-group"  style="max-height: 200px; overflow-y: scroll;">						       
					        <div class="radio" ng-repeat="m in quickBillMembers">
					       		<label>
					       			<input type="radio" name="selectMember"
									    value="{{m.id}}"
									    ng-click="selectMemberForQuickBill(m)" required>
									    {{m.firstName}} {{m.lastName}}
					       		</label>
				       		</div>
				       		
				       		<p ng-if="quickMemberLike.length > 0 && quickBillMembers.length == 0">Aucun résultat</p>
	   					</div>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearQuick()">
	                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
	                    </button>
	                    <button type="submit" ng-disabled="quickMemberSelected.id==null" class="btn btn-primary">
	                        <span class="glyphicon glyphicon-add"></span>&nbsp;<span translate="crossfitApp.bill.action.quickSelect">Select</span>
	                    </button>
	                </div>
	            </form>
	        </div>
	    </div>
	 </div>
    
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="crossfitApp.bill.number">Facture n°</th>
                    <th translate="crossfitApp.bill.date">Date</th>
                    <th translate="crossfitApp.bill.to">Adhérent</th>
                    <th translate="crossfitApp.bill.status">Status</th>
                    <th translate="crossfitApp.bill.paymentMethod">Payment Method</th>
                    <th translate="crossfitApp.bill.total">Total TTC</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bill in bills">
                    <td> <a href="#" ui-sref="bill.edit({id:bill.id})"> {{bill.number}}</a></td>
					<td> {{bill.effectiveDate | date:'yyyy-MM-dd' }}</td>
                    <td> <a href="#" ui-sref="member.edit({id:bill.member.id})"> {{bill.displayName}}</a></td>
					<td> {{'crossfitApp.bill.status.enum.' + bill.status | translate }}</td>
					<td> {{'crossfitApp.bill.paymentMethod.enum.' + bill.paymentMethod | translate }}</td>
					<td> {{bill.totalTaxIncl | currency:'€' }}</td>
                </tr>
                <tr>
                	<td colspan="6" align="center">
                		<a href="" ng-click="loadPage(page + 1)" ng-if="links['last'] != page">Afficher plus</a>
                	</td>
               	</tr>
            </tbody>
        </table>
    </div>
</div>

