
<form name="form" role="form" novalidate ng-submit="save()">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="clear()">&times;</button>
		<h4 class="modal-title" id="myBillLabel"
			translate="{{'crossfitApp.bill.home.' + (bill.id == null ? 'add' : 'showBill') }}">Display a bill</h4>
	</div>
	
	<div class="modal-body">
		<jh-alert-error></jh-alert-error>
		
<!-- 		<nav class="navbar navbar-inverse navbar-cf-nancy ng-scope" role="navigation"> -->
<!-- 			<ul class="nav navbar-nav"> -->
<!-- 				<li ng-class="{active:view=='infoperso'}"> -->
<!-- 					<a ng-click="showView('infoperso')">  -->
<!-- 						<span>{{'crossfitApp.member.infoperso'|translate}}</span> -->
<!-- 					</a> -->
<!-- 				</li> -->
<!-- 			</ul> -->
<!-- 		</nav> -->

		
		
		
		<div class="row" ng-show="view == 'default'">
		  <div class="col-xs-12">
		  
	    	<div class="row form-group" ng-if="bill.id!=null"> 
				<div class="col-xs-6">
					<input
						type="text" class="form-control" id="id" name="id"
						ng-model="bill.id" readonly>
				</div>
				<div class="col-xs-6">
					<input type="text" class="form-control " id="number" name="number"
						ng-model="bill.number" readonly>
				</div>
			</div>
			
	    	<div class="row"> 
				<div class="col-xs-6 ">
					<div class="row form-group">
						<div class="col-xs-12">
							<label>Abonné</label>
							<div ng-class="{'input-group':bill.id==null}">
								<input type="text" class="form-control " id="displayName"
									name="displayName" ng-model="bill.displayName" readonly>

								<span class="input-group-btn"  ng-if="bill.id==null">
									<button class="btn btn-default" type="button" 
										ng-click="showQuickSelectMember()">+</button>
								</span>
							</div>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-12">
							<textarea class="form-control" id="displayAddress" name="displayAddress"
								ng-model="bill.displayAddress" readonly	></textarea>
						</div>
					</div>
				</div>
				
				<div class="col-xs-6">
				
					<div class="row form-group">
						<div class="col-xs-6">
							<label>Statut</label>
							  <select class="form-control" id="sel1" ng-model="bill.status" ng-disabled="bill.id!=null">
							    <option ng-repeat="s in status" value="{{s}}">{{'crossfitApp.bill.status.enum.' + s | translate }}</option>
							  </select>
						</div>
						<div class="col-xs-6">
							<label>Moyen paiement</label>
							
							  <select class="form-control" id="sel1" ng-model="bill.paymentMethod" ng-disabled="bill.id!=null">
							    <option ng-repeat="p in paymentMethods" value="{{p}}">{{'crossfitApp.bill.paymentMethod.enum.' + p | translate }}</option>
							  </select>
				  
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-6">
							<label>Date facture</label>
							<input type="text" class="form-control " id="effectiveDate" name="effectiveDate"
								value="{{bill.effectiveDate | date:'dd/MM/yyyy' }}"  readonly ng-if="bill.id!=null">
								
				            <datetimepicker hidden-time="true" ng-if="bill.id==null"
								ng-model="bill.effectiveDate" how-weeks="false" minute-step="30" show-meridian="false" 
						       	date-format="dd/MM/yyyy" readonly-time="false"></datetimepicker>
								
						</div>
						<div class="col-xs-6"  ng-if="bill.id!=null">
							<label>Date création</label>
							<input type="text" class="form-control " id="createdBillDate" name="createdBillDate"
								value="{{bill.createdBillDate | date:'dd/MM/yyyy \'à\' HH:mm:ss' }}" readonly>
						</div>
					</div>
					
				</div>
			</div>
			
			
	    	<div class="row"> 
				<div class="col-xs-12">
				
					<table class="table table-bordered">
						<thead>
							<tr>
								<th style="width: 10px;">Qte</th>
								<th>Libellé</th>
								<th style="width: 120px; text-align: right;">Prix TTC</th>
								<th style="width: 120px; text-align: right;">Total TTC</th>
							</tr>
						</thead>
						<tbody ng-if="bill.id!=null">
							<tr ng-repeat="line in bill.lines">
								<td>{{line.quantity}}</td>
								<td>{{line.label}}</td>
								<td style="text-align: right;">{{line.priceTaxIncl | currency:'€' }}</td>
								<td style="text-align: right;">{{line.totalTaxIncl | currency:'€' }}</td>
							</tr>
						</tbody>
						
						
						<tbody ng-if="bill.id==null">
							<tr ng-repeat="line in bill.lines">
								<td class="form-line"><input type="text" style="width: 60px;" class="form-control" ng-model="line.quantity"/></td>
								<td><input type="text" class="form-control" ng-model="line.label"></td>
								<td class="form-line">
									<input type="text"  style="text-align: right;" class="form-control" ng-model="line.priceTaxIncl">
								</td>
								<td style="text-align: right; vertical-align: bottom;">
									<label class="control-label">{{calculateTotal(line) | currency:'€' }}</label>
								</td>
							</tr>
						</tbody>
						
						<tfoot ng-if="bill.id!=null">
							<tr>
								<th colspan="3" style="text-align: right;">Total:</th>
								<th style="text-align: right;">{{bill.totalTaxIncl | currency:'€'}}</th>
							</tr>
						</tfoot>
						
						<tfoot ng-if="bill.id==null">
							<tr>
								<th colspan="3">

									<button class="btn btn-default pull-left" type="button" ng-click="addLine()">+</button>
										
									<label class="pull-right">Total:</label>
								</th>
								<th style="text-align: right;">{{calculateTotalBill() | currency:'€'}}</th>
							</tr>
						</tfoot>
					</table>
				
				</div>				
			</div>
			
		  </div>
		</div>
		
		
    </div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
				translate="entity.action.cancel">Cancel</span>
		</button>
	</div>
	
</form>



<div class="modal fade" id="quickSelectMember">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="lockForm" ng-submit="quickSelectMember()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clearQuick()">&times;</button>
                    <h4 class="modal-title" translate="crossfitApp.bill.quick.select.member.title">Quick select member operation</h4>
                </div>
                <div class="modal-body">
                	<jh-alert-error></jh-alert-error>
                     <div class="form-group">
				      <input type="text" id="like" name="like" ng-model="quickMemberLike" ng-change="searchMemberForQuickBill()"
				      	class="form-control" placeholder="Rechercher un adhérent..." autocomplete="false" autofocus="autofocus">
					</div>
                     <div class="form-group"  style="height: 200px; overflow-y: scroll;">						       
				        <div class="radio" ng-repeat="m in quickBillMembers">
				       		<label>
				       			<input type="radio" name="selectMember"
								    value="{{m.id}}"
								    ng-click="selectMemberForQuickBill(m)">
								    {{m.firstName}} {{m.lastName}}
				       		</label>
			       		</div>
			       		
			       		<p ng-if="quickMemberLike.length > 0 && quickBillMembers.length == 0">Aucun résultat</p>
   					</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearQuick()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="lockForm.$invalid" class="btn btn-primary">
                        <span class="glyphicon glyphicon-add"></span>&nbsp;<span translate="crossfitApp.bill.action.quickSelect">Select</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
 </div>