<h1 mat-dialog-title>Rechercher un wod à planifier pour le {{data.date | date:'dd/MM/yyyy'}}</h1>
<div mat-dialog-content>
  

    <app-wod-list
      [columns]="['select', 'description', 'publications']" [selection]="selection"
    ></app-wod-list>


</div>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Fermer</button>
  <button class="mat-raised-button mat-primary" (click)="addPublication()" [disabled]="selection.selected.length == 0">Planifier</button>
</mat-dialog-actions>