<table>
  <tbody>
    <tr *ngFor="let week of weeks">
      <td *ngFor="let day of getDaysOfWeek(week); let i=index">

        <div class="cell-header cell-header-row-{{week}} cell-header-col-{{i}} cell-header-day-{{day.date.date()}}">
          <span class="day-name">{{day.date.format('dddd')}}</span>
          <span class="day-number" [ngClass]="{'active':day.date.isSame(now, 'd')}">{{day.date.date()}}</span>
          <span class="month">{{day.date.format('MMM')}}</span>
        </div>
        
        <button class="day-action-menu" mat-icon-button (click)="addEvent(day.date)" *ngIf="onAddEvent.observers.length!=0">
          <mat-icon>add</mat-icon>
        </button>

        <ul>
          <li *ngFor="let position of day.eventsRangePosition;" >
            <event-cell [event]=day.getEventAtPosition(position)></event-cell>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>